[2013-07-06 21:41] trein opened #1 "Missing instruction for C++ compiler"
Hi. First of all, thank you for the OCR framework. I have been testing a lot of compilations and yours was the easiest and cleaner way to add Tesseract in my iOS project.

Well, I just would like to add that the C++ Standard Library must be set to Compiler Default (as stated on https://github.com/ldiqual/tesseract-ios) otherwise any code using Tesseract won't compile.

In brief, the instruction sh

[2013-07-18 22:17] #1 closed, assigned to nobody

[2013-08-20 11:44] TUNER88 opened #2 "Clear Tesseract object after text has been recognized from image"
How can I use [tesseract clear]?

[2013-09-09 18:08] #2 closed, assigned to gali8

[2013-09-21 16:44] vleango opened #3 "Xcode5 support [SOLVED]"
Hello, the previous framework worked great, but when I tried using the new framework (from the project folder), some of the headers were not included.

After recompiling the Aggregate, I still have problems getting it to run in xcode5.

Love the framework, but would really like to use the new version with the clear function.
Thanks.

[2013-09-23 13:14] TUNER88 opened #4 "Problem with 1.1 Version"
Compiling fails with follwoing error:
'baseapi.h' file not found
![bildschirmfoto 2013-09-23 um 15 13 01](https://f.cloud.github.com/assets/1565397/1191481/07bd1e6c-2452-11e3-92a4-ba064cbf3f6d.png)

[2013-09-23 22:07] #4 closed, assigned to nobody

[2013-10-01 08:36] #3 closed, assigned to nobody

[2013-10-11 12:07] TUNER88 opened #5 "Add tesseract-ocr version to readme.md"
Which tesseract-ocr version do you use in this project?

[2013-10-11 13:56] #5 closed, assigned to nobody

[2013-11-01 21:06] taphive opened #6 "TesseractOCR/TesseractOCR.h Not found"
hey man, I am getting <TesseractOCR/TesseractOCR.h> not found when trying to build the template project. any ideas?

[2013-11-04 09:02] #6 closed, assigned to nobody

[2013-11-05 09:46] TUNER88 opened #7 "Add support for CocoaPods"
Its really easy to install/update third party code with CocoaPods.

All popular iOS frameworks use CocoaPods:
AFNetworking
GPUImage
SDWebImage
SocketRocket
RestKit
MBProgressHUD
...

More about contributing:
http://docs.cocoapods.org/guides/contributing_to_the_master_repo.html

[2013-11-27 08:40] neoneye opened #8 "_tesseract->GetUTF8Text() returns NULL"
I have just cloned the latest repository.

I can successfully compile the "Tesseract OCR iOS.xcodeproj" project.

When I run the app I get this error:

[code]

Xcode 5.0.2 (5A3005)
Mac OS X 10.8.5
This error happens both when I run the app on the simulator and on a device.
I have not modified the project.

[2013-11-27 09:56] #8 closed, assigned to nobody

[2013-11-30 00:44] gene-chan opened #12 "Cannot Run in Simulator"
clang throws a linking error when I try to build an app using this project with the i386 architecture in order to run in a Simulator. Is it because this Tesseract library was only compiled for ARM? If so please let me know so I won't spend further time trying to debug it.

[2013-11-30 07:47] #12 closed, assigned to nobody

[2013-12-10 08:16] neoneye opened #13 "Add targets for compiling liblept.a + libresseract_all.a"
These static libraries are currently distributed as .a files.

I would like to compile the static libraries my self.

[2013-12-23 13:07] #13 closed, assigned to nobody

[2013-12-25 22:36] jeyben opened #16 "Support for arm64"
The library seems great, but I would much appreciate support for iphone5s architecture (arm64) as well. Is it possible for you to build a version that supports that architecture?

[2014-01-01 00:33] #16 closed, assigned to nobody

[2014-01-02 04:53] MaxHasADHD opened #17 "64-bit added"
Building for 32-bit devices it works, building onto a 5s fails because of the 64-bit

[2014-01-08 14:14] #17 closed, assigned to nobody

[2014-03-11 23:14] fjfoyain opened #22 "Use of tesseractrect"
It could be possible to explain in the wiki one example of a call to tesseractrect, I have been searching for it. And I found many resources to implement tesseracrect in android(use of a rectangle to specify which part of the photo to decode)

[2014-03-21 16:21] shmidt opened #24 "arm64"
I think did exactly as it is in th README file, but I get such compiler error:

[code]

[2014-03-26 02:27] andyrivera255 opened #25 "Examples!"
Are there any examples one can use to test recognizing text on an image on the iOS simulator?

[2014-04-01 10:09] fbradyirl opened #26 "Symbolic Links"
You're framework is about 77MB. If you use symbolic links, you can get that down to 25 MB.

MyFramework.framework     //(directory)
  info.plist
  MyFramework             //(symbolic link to Versions/Current/MyFramework)
  Resources               //(symbolic link to Versions/Current/Resources)
  Headers                 //(symbolic link to Versions/Current/Headers)
  Versions                //(dire

[2014-04-22 07:58] #25 closed, assigned to nobody

[2014-04-22 08:04] #22 closed, assigned to nobody

[2014-04-25 10:29] zeasy opened #27 "Mac OSX support"

[2014-05-02 09:53] #24 closed, assigned to nobody

[2014-05-03 15:06] #7 closed, assigned to nobody

[2014-05-06 16:08] shexbeer opened #29 "Linker error when using Cocoapods"
Hi,

trying to add TesseractOCRiOS via Cocoapods to my Xcode 5 Project.
But i get this linker error:

[code]

Is it a general issue at the moment or is it my stupidness?

[2014-05-06 16:50] #29 closed, assigned to nobody

[2014-05-10 21:31] ghost opened #30 "Can't open trained data"
Hi,

First of all, thank you very much for the great framework.

But I have a trouble. When I tried to recognize, an error occurred as below.

Error opening data file /var/mobile/Applications/9C07D9F5-0B70-4313-90E0-17AF69FF0EDA/LicenseReader.app/tessdata/jpn.traineddata
Please make sure the TESSDATA_PREFIX environment variable is set to the parent directory of your "tessdata" directory.
Failed lo

[2014-05-12 07:24] #30 closed, assigned to nobody

[2014-06-15 04:57] Stunner opened #31 "Does This Library Run on iOS 6?"
Wondering if this library runs for iOS 6.

[2014-06-17 05:22] #31 closed, assigned to nobody

[2014-06-18 10:30] notapplicableio opened #33 "setVariable:forKey is not working"
setVariable:forKey with parameters like:
@"tessedit_create_hocr" and @"TRUE", @"1", @"YES" doesn't seem to affect the output.

Only [tesseract setVariableValue:@"0123456789" forKey:@"tessedit_char_whitelist"]; seems to have the intended effect.

Otherwise, great effort at making this library easy to use.

[2014-06-26 10:26] arturdev opened #34 "Set Timeout"
Is there a way to set timeout for recognizing?
I.e. if recognizing process's time is up then return empty string or nil.

Thanks.

[2014-06-26 17:39] #34 closed, assigned to nobody

[2014-07-29 07:12] ws233 opened #38 "Removing .framework from the repo"
I would suggest removing .framework from the repository allowing user to make it himeself.
Framework takes 21Mb. So every time someone rebuild Aggregate target an push changes to the repo, the repo increases 21Mb. Soon it will become too heavy to download it.
So far I didn't face any compiler or linker error, while making aggregate target, so there are no difficulties or issues compilint it.
Anyon

[2014-07-31 04:17] creativeroger opened #39 "App Crashes after select a photo"
Hi,

I downloaded the latest version, and simply run the sample project, but the app crashes after take and use a photo, even the standard behavior to read it from the sample image returns "bad access" on the method recognizeImageWithTesseract right on "[tesseract recognize];"

Even on the simulator it gives this bad access when trying to read the jpg sample. No problem to compile, folders referen

[2014-07-31 12:28] #39 closed, assigned to nobody

[2014-08-06 06:17] iPermanent opened #42 "The result is really not good"
I used the image with texts which is get by office word, but the result is really bad, should I do some other settings for the use like the encoding or something else? And by the way, where is the Chinese tessdata, I need to recongnize the Chinese as well. Thanks for your excellent work.

[2014-08-06 17:56] gene-chan opened #43 "Tesseract 3.03"
Hi,
Is there any plans to update the lib to use Tesseract 3.03 instead of 3.02? If so, is there an estimated date?

Thanks

[2014-08-11 12:23] waltermvp opened #44 "Update Podspec"
The podspec is stil at 2.2

[2014-08-16 16:09] #43 closed, assigned to nobody

[2014-08-16 16:10] #44 closed, assigned to nobody

[2014-08-17 15:45] DrAma999 opened #45 "Bazaar"
Is there a way to activate the bazaar options?

[2014-08-26 05:28] hirad opened #46 "Can't Build Project for Release"
I have an app using Tesseract which runs just fine in development, but when I want to archive it, I get a series of warnings:

[code]

And, of course, archiving fails due to `undefined symbols for architecture`.

Any tips on this?

I've read this can be caused by having the wrong files in "Compile Sources", but as far as I can tell, I only have .m files and core data models in there.

[2014-08-30 00:39] reivax opened #47 "Issue when using UIImagePickerControllerOriginalImage (large images"
It seems the lib is having issues with large images. If I use the original size pict (2448x3244) the lib just returns garbage. Resizing the image to something more human (like <1024) seems to return good results. Maybe this is by design but I could not find any explications anywhere so I'm just reporting the issue in case someone else wonders why getting the UIImage using UIImagePickerControllerOr

[2014-09-02 12:21] lmcgs opened #48 "Can't cancel or stop and update UI"
I can't cancel ocr process and can't update progress value on UI.

_monitor = new ETEXT_DESC();
_monitor->cancel = (CANCEL_FUNC)[self methodForSelector : @selector(
                                                                            tesseractCancelCallbackFunction:)];
_monitor->cancel_this = (__bridge void *)self;
- (BOOL)shouldCancelImageRecognitionForTesseract:(Tesseract*)tesseract {

[c

[2014-09-08 07:52] kevincon opened #49 "CocoaPod and Framework product in repo are outdated"
The README says to use this line in a Podfile:
`pod 'TesseractOCRiOS', '~> 2.3'`

But the CocoaPods master repo does not have version 2.3 (latest is 2.22): http://cocoapods.org/?q=tesseract

I got around this by using this line in my Podfile:
`pod 'TesseractOCRiOS', :git => 'https://github.com/gali8/Tesseract-OCR-iOS.git'`

But the current Products/TesseractOCR.framework file in the repo is an old

[2014-09-09 15:52] btoran opened #50 "'UIImage+Filters.h' file not found"
Hi,

I have this problem in Tesseract.h when I compile

Thanks

[2014-09-16 11:10] joaomvfsantos opened #52 "Access _tesseract instance variable"
Is there a way (by subclassing or by other means) to access the _tesseract instance variable? This would be interesting if we would like to further customize the Tesseract class. Or is there a better way to do this?

[2014-09-16 19:00] #48 closed, assigned to nobody

[2014-09-17 01:09] flysofast opened #53 "how to init tesseract to use tessdata from document path?"
Thanks for your pod, it's saved me a lot of time to compile the library.
Just one small issue: I'm writing an application that let user decide which language they want to perform OCR on, and then they could download the corresponding .traineddata file. It works well in iOS emulator but on real device, I cannot add files to MainBundle root path (seems like it's a security problem), so I have to sto

[2014-09-18 15:14] Swaroop1231 opened #54 "How to get paragraph wise text?"
Hi, Tesseract API is wonderful and working great.But how it returns paragraph wise text.Suppose take below image as example here I need to get paragraph wise text, I mean I am getting all the messages as single string, so I am unable to differentiate the paragraphs in that string in this scenario. How can I do this?Here doesnt it consider two lines text as single paragraph? Two lines in a same box

[2014-09-20 16:45] golergka opened #55 "Tesseract can't open trained data"
I've created new project with CocoaPods and Tesseract and load the tesseract

[code]

Here's the code:

[code]

Of couse, I indeed have tessdata folder inside my project folder, and there's `eng.traineddata` file there as well,

[2014-10-06 05:51] kevincon opened #56 "getConfidenceBySymbol crashes for some images"
Using `getConfidenceBySymbol` to print out the confidence values for each character recognized works for the image_sample.jpg file included in the Template Framework Project, but try swapping it with the following image and it crashes every time:

![failing_sample](https://cloud.githubusercontent.com/assets/817753/4521789/a97542aa-4d1b-11e4-9591-8363a270e911.png)
(I know this isn't an ideal image

[2014-10-10 20:16] #56 closed, assigned to nobody

[2014-10-31 02:09] rsouthgate opened #59 "Memory leak when calling setImage"
There seems to be a memory leak of about 1.5MB every time setImage is called. Within the demo project if you hit recognise sample image then each time the memory will grow by about 1.5MB. This may not be a problem except that I am using the lib within an AVCaptureVideoDataOutputSampleBufferDelegate and so create a tesseract object and call setImage on it many times.

[2014-11-13 16:28] #59 closed, assigned to nobody

[2014-11-14 03:28] tuler opened #60 "Can't build Template Framework Project in Xcode 6.1/OSX10.10 targeting simulator"
TesseractOCR Group
(null): Ld: warning: ignoring file TesseractOCR/lib/libtesseract_all.a, missing required architecture x86_64 in file TesseractOCR/lib/libtesseract_all.a (4 slices)ignoring file TesseractOCR/lib/liblept.a, missing required architecture x86_64 in file TesseractOCR/lib/liblept.a (4 slices)
Template Framework Project Group
Undefined symbols for architecture x86_64:
  "tesseract::Tes

[2014-11-17 09:53] zachberger opened #64 "[Proposal] Move the documentation to the wiki"
I'd like to propose moving documentation from the README.md to the wiki. The wiki allows information to be organized into discrete pages instead of one huge file, and allows documentation to be community supported. @gali8, if you don't mind this change I'd be willing to put in the work to migrate to the wiki.

[2014-11-19 20:07] walsh2000 opened #65 "Link Errors with Development version on Simulator"
Hello

I was able to easily integrate Tesseract into a project using:

[code]

However, when I changed the Podfile to:

[code]

then pod updated, and cleaned & rebuilt my project, many c++ symbols were not found:

[code]

This was building for an iPhone 6 simulator (in Xcode 6.1, on OS 10.10)
When I built for an iPhone 5 OS 7.x, the build succeeded.

Is it expected that the development branch does

[2014-11-19 21:13] #65 closed, assigned to nobody

[2014-11-20 01:09] jsb04 opened #66 "can't build project after adding framework"
I've added the framework to a new x code 6.1 project targeting iPhone with objective C and tried to build it for iphone5 simulator but - but I still get build issues I can't seem to solve or avoid.  Log below.  Ultimately I'd like to use it in an iPad app with swift but from another issue I thought the above configuration would be the easiest way to get started initially.  How can I solve these is

[2014-11-20 20:02] #66 closed, assigned to nobody

[2014-11-28 10:00] RafaRuiz opened #67 "Which is the best way to free up memory when recognizing an bunch of small images?"
Hello,

I'm trying to match one model by giving around 20 images that I store internally before.
If one image is valid for me (if condition == true) I use to use the values to see the boxes of the characters and recognise text depending of the last character recognised. Then I make tesseract = nil; But then I have to use it again, and loading the language again takes more than if I only clean.

Bu

[2014-11-30 22:36] stuartthomas25 opened #68 "Init Only Variables"
Tesseract OCR iOS is unable to set "Init Only" variables like user_words_suffix and load_system_dawg  (see https://code.google.com/p/tesseract-ocr/wiki/ControlParams). I recommend a method
- (id)initWithVariables:(NSDictionary*)parameters language:(NSString *)language;
where "parameters" is a key-value dictionary describing init-only parameters and their values.

[2014-12-02 05:28] lbwxly opened #69 "App take 40M memory when recognize the image using Tesseract"
My app has a feature that taking a picture and then recognize the character in the image. Before the first time to recognize the image with Tesseract object, My memory usage is about 12M. After the first recognizing, the memory usage will increase to about 38M. But i use the Tesseract as a local variable, so when i finished the task, the ARC should free all resource used by Tesseract, why the memo

[2014-12-02 17:59] #33 closed, assigned to nobody

[2014-12-02 18:05] #55 closed, assigned to nobody

[2014-12-02 18:13] #49 closed, assigned to nobody

[2014-12-02 18:13] #47 closed, assigned to nobody

[2014-12-03 07:27] lbwxly opened #70 "The TesseractOCR/TesseractOCR.h can't found when add TesseractOCR.framework to existing project"
I following the instruction to add the framework to my existing project, but get following error:
"TesseractOCR/TesseractOCR.h file not found"

[2014-12-03 10:46] #50 closed, assigned to nobody

[2014-12-03 11:23] #60 closed, assigned to nobody

[2014-12-03 23:25] #69 closed, assigned to nobody

[2014-12-03 23:27] #67 closed, assigned to nobody

[2014-12-04 08:13] gustafnilklint opened #72 "Please add x86_64 architecture"
According to Apple's updated policies 64-bit architecture is mandatory. Setting the project to build for "Standard Architectures" will enable building for amv7, armv7s and arm64, but it will also enable x86 and x86_64 for iPhone Simulator.

[2014-12-04 08:59] #72 closed, assigned to nobody

[2014-12-04 22:02] kevincon opened #73 "Enable Travis CI"
@gali8, can you enable Travis CI for the repo so we can have continuous integration/testing for the library? Only the repository owner can enable it, otherwise I'd take care of it.

All you have to do is click this link: https://travis-ci.org/profile, sign in with your GitHub account, and then toggle the switch next to Tesseract-OCR-iOS so it says "On".

I'll take care of the rest (mainly writing

[2014-12-04 22:08] kevincon opened #74 "Update CocoaPod to 3.4.0"
It seems that if we want Cocoa Pods to respect our versioning from now on, we need to make a new release versioned 3.4.0 because I believe CocoaPods is seeing version 3.03 as version 3.3 (it's truncating the 0), so it thinks that our older release 3.03 is actually newer than our latest 3.1.1 release.

Therefore, in order to "get past it" we need to release version 3.4.0. I can take care of this in

[2014-12-05 08:21] BamX opened #75 "How about hOCR?"
There is a branch with this small method: https://github.com/clemenshelm/Tesseract-OCR-iOS/commit/15b5f8f2ae8c6325114623100243ef8168796ae8
It may be useful

[2014-12-05 11:33] bamx23 opened #76 "Grayscale in blackAndWhite method"
In my project I resolve this problem by using https://github.com/BradLarson/GPUImage filters:

[code]

I think, there are many interesting improvements may be made with that filters. I'm trying to improve my results with such binarization.

[2014-12-06 22:33] #76 closed, assigned to nobody

[2014-12-06 23:33] #74 closed, assigned to kevincon

[2014-12-07 19:50] #46 closed, assigned to nobody

[2014-12-08 02:58] lbwxly opened #78 "The library can't recognize the blank image without any character"
when  I recognize the blank image which doesn't contain any character, I get some useless character.
The expect result should be empty text.
Attached blank image.
![blankimage](https://cloud.githubusercontent.com/assets/8695388/5334303/05637d5a-7ec9-11e4-87af-ab35f17a28bc.png)

[2014-12-08 19:04] #73 closed, assigned to gali8

[2014-12-09 03:31] zachberger opened #80 "Create a .travis.yml"
TravisCI builds are failing. We need to write a custom .travis.yml to configure our build process.

[2014-12-09 05:54] #80 closed, assigned to nobody

[2014-12-10 23:12] zachberger opened #84 "API Documentation"
It appears as a part of cocoapods, we get the benefit of having cocoadocs automatically generated for us. You can see the docs for 3.4.0 [over here](http://cocoadocs.org/docsets/TesseractOCRiOS/3.4.0/).

That being said only 4% of methods are documented for the project, lets try and get this up!

[2014-12-11 03:30] zachberger opened #85 "Achieve 100% testing coverage"
It would be good to get some unit testing up and running for the framework. Although the framework is written in Objective-C its possible to test via Swift. Testing in Swift might be a gentle way to transition into a Swift-only future (speculating).

Would anyone be opposed to that, or would we like to keep everything in Objective-C?

[2014-12-11 19:13] bamx23 opened #86 "NSOperation support"
How about an implementation of functionality to provide some subclass of NSOperation to control recognition? Like TSRecognitionOperation.

[2014-12-11 21:02] bamx23 opened #87 "Tesseract option keys as well-defined/documented constants"
What about adding files with string constants describing Tesseract variables? It could be well described(commented) and useful for setting Tesseract up.
There is a list with that variables: http://www.sk-spell.sk.cx/tesseract-ocr-parameters-in-302-version
They also described in Tesseract sources.

[2014-12-12 10:26] bamx23 opened #90 "Class prefix like TS or G8"
I think we should start using prefixes in classes. For example: `TSTesseract` or `G8Tesseract`.

[2014-12-15 02:20] #87 closed, assigned to nobody

[2014-12-15 02:41] #70 closed, assigned to nobody

[2014-12-15 03:23] #26 closed, assigned to nobody

[2014-12-15 07:25] bamx23 opened #93 "Pods in repository"
Why Pods folder was excluded from ignores? Do we need Pods right in the repository?

[2014-12-15 09:10] kevincon opened #94 "Don't solicit donations"
Just before the 3.4.0 CocoaPods release in 34e9d6c9d793, @gali8 added a "Buy me a beer" button on the README that links to a PayPal donation box for his personal account.

Although @gali8 has done some fantastic work with this library, I don't think it's fair for him to ask for donations when it doesn't look like he has actively contributed code since ae47dd5df (July 31), especially when there are

[2014-12-15 22:16] #93 closed, assigned to nobody

[2014-12-15 22:16] #90 closed, assigned to nobody

[2014-12-16 08:50] bamx23 opened #97 "Remove use of ImageThresholder from setImage"
Related to #78. I think that we must allow developers to disable Tesseract thresholding optionally. By default it may be enabled, but if you binarize your image by yourself, it may not be needed.

[2014-12-16 10:31] bamx23 opened #98 "Additional API features"
As this library is provide adapter for Tesseract API here some use cases that not implemented:
- [Orientation and script detection (OSD)](https://code.google.com/p/tesseract-ocr/wiki/APIExample#Orientation_and_script_detection_%28OSD%29_example)
- [Iterator over the classifier choices for a single symbol](https://code.google.com/p/tesseract-ocr/wiki/APIExample#Example_of_iterator_over_the_classifi

[2014-12-16 23:30] #94 closed, assigned to nobody

[2014-12-17 11:07] #97 closed, assigned to kevincon

[2014-12-17 11:09] #78 closed, assigned to nobody

[2014-12-17 23:00] bamx23 opened #101 "Wrappers for common Tesseract variables"
We could provide properties with related structures and constants like
- `NSString *charWhitelist`
- `NSString *charBlacklist`
- `G8PageSegmentationMode pageSegmentationMode`
- `G8OCREngineMode OCREngineMode`

[2014-12-20 09:21] bamx23 opened #103 "Remove deprecated methods"
What about removing that methods as API changes any way?

[2014-12-20 12:50] bamx23 opened #104 "OpenCL support"
Here an article about Tesseract and OpenCL:
http://www.sk-spell.sk.cx/tesseract-meets-the-opencl-first-test
Is it real to use tesseract with OpenCL on iOS and would it speed up recognition?

[2014-12-20 19:38] #104 closed, assigned to nobody

[2014-12-20 20:52] #101 closed, assigned to nobody

[2014-12-20 20:52] #98 closed, assigned to nobody

[2014-12-22 08:29] #103 closed, assigned to nobody

[2014-12-22 08:29] #84 closed, assigned to nobody

[2014-12-22 09:50] ws233 opened #108 "Wrong charecterBoxing drawing"
- (UIImage *)imageWithBlocks:(NSArray *)blocks drawText:(BOOL)drawText thresholded:(BOOL)thresholded functions draws charecter boxes upside down on the image.
  I've made a pull request, which fixes this.
  Pls, refer to:
  https://github.com/gali8/Tesseract-OCR-iOS/pull/106

[2014-12-22 10:13] #108 closed, assigned to nobody

[2014-12-22 13:10] ws233 opened #109 "Consolidate `confidencesByIteratorLevel` and `characterBoxes`"
If you try to run confidencesByIteratorLevel and characterChoices functions, after a tesseract finishes recognition, an app crasesh with the following:
best_choice != NULL:Error:Assert failed:in file ltrresultiterator.cpp, line 100

The tesseract is initialized with
    G8Tesseract* tesseract1 = [[G8Tesseract alloc] initWithLanguage:@"rus+eng" engineMode:G8OCREngineModeTesseractOnly];

Also all th

[2014-12-23 03:36] emablekos opened #111 "When integrating via cocoa pods, G8 prefixed headers are not present in framework"
On the left is the cocoapods framework, on the right is the framework from the products directory in the repo. Sample code depends on g8 classes.

![2014-12-22 at 10 21 pm](https://cloud.githubusercontent.com/assets/299982/5534288/76320404-8a2a-11e4-8f13-ed4642d8a03a.png)

[2014-12-23 11:07] shaikhtariq11 opened #112 "IOS OCR tesseract not release the memory after being nil and using ARC"
I have multiple images to OCR, but after 2 images it got hanged. I put  @autoreleasepool into my for for loop, performance increase but this is not the solution.

Let me know how to handle multiple images at a time.

Thank You,
-Tariq.

[2014-12-24 10:22] #86 closed, assigned to nobody

[2014-12-25 03:37] #112 closed, assigned to nobody

[2014-12-30 09:50] ws233 opened #119 "Automatically call + (void)clearCache on memory warning"
it seems to be a good idea to subscribe clearCache to run automatically on memory warning event.
Do we need to add extra checking that no tess are in progress at the moment?

[2015-01-04 07:47] ws233 commented on #38
So, I switched to the step 2.
I'll share everything I could find on the issue soon.

[2015-01-04 09:06] ws233 commented on #38
So, that's what I could find and my plans so far.

From iOS 8 and xCode 6 there is a Framework target available.
It does from the box everything we did manually in the Aggregate target.
So, I'm going to remove our 2 targets (TesseractOCR and TesseractOCRAggregate) and add a new one, which is going to be a complete iOS 8 framework in only one target.
That adds some new restrictions, like the deploy

[2015-01-04 09:14] kevincon commented on #38
I'm fine with the iOS 8 deployment target for the reasons you mentioned, but I don't think this is worth doing if the user has to do steps 2 and 3 manually. If CocoaPods can do that automatically, then I think it's a winner.

[2015-01-04 09:23] ws233 commented on #38
ok. so I'm going on with this.

[2015-01-04 09:24] kevincon commented on #68
Implemented by #113.

[2015-01-04 09:24] #68 closed

[2015-01-04 09:26] kevincon commented on #53
This issue is resolved by the new functionality in #113. See the bottom of this page in the Wiki for information about how to use it: https://github.com/gali8/Tesseract-OCR-iOS/wiki/Advanced-Tesseract-Configuration

[2015-01-04 09:26] #53 closed

[2015-01-04 09:27] kevincon commented on #45
This is now possible with the new functionality in #113. See this Wiki page for information about how to do it: https://github.com/gali8/Tesseract-OCR-iOS/wiki/Advanced-Tesseract-Configuration

[2015-01-04 09:27] #45 closed

[2015-01-04 11:30] ws233 commented on #38
@kevincon, can you try this PR #120.
I haven't try steps 2 and 3, if they automated or not, yet.
But with these steps made manually, everything seems to work OK in my project and the test example project from the framework.

will try to make steps 2 and 3 to run automatically soon.

[2015-01-04 11:31] BamX commented on #38
Not sure that deprecating iOS 7.0 is a good idea.
![2015-01-04 14-29-40 app store distribution - support - apple developer](https://cloud.githubusercontent.com/assets/443972/5605735/281a42d8-941e-11e4-9274-ab73df31d1fd.png)

[2015-01-04 11:45] ws233 commented on #38
Sorry ^.^

[2015-01-04 16:10] ws233 commented on #38
There is a few posts about the availability of the frameworks on an iOS 7.
http://stackoverflow.com/questions/25909870/xcode-6-and-embedded-frameworks-only-supported-in-ios8

[2015-01-04 16:23] ws233 commented on #38
I tried this and can confirm, that the framework can be run on a iOS 7 in the simulator.

[2015-01-04 16:56] ws233 commented on #38
I can upload changes after the test it(@"Should draw blocks on image", ...) become fixed to pass on iOS7.1. So far it fails on iOS7.1.
@BamX, could you take a look on it and fix?

[2015-01-04 17:04] ws233 commented on #54
This one also could be closed, I think, since there is a function
- (NSArray *)confidencesByIteratorLevel:(G8PageIteratorLevel)pageIteratorLevel;
which returns the blocks of text for the G8PageIteratorLevelParagraph.

[2015-01-04 17:05] ws233 commented on #85
Unit testing fails on iOS7.1 Simulator.

[2015-01-04 19:24] kevincon commented on #54
I agree. @Swaroop1231, feel free to reopen this issue or start a new one if you have any more questions.

[2015-01-04 19:24] #54 closed

[2015-01-05 11:28] BamX commented on #85
Fixed here: #121

[2015-01-05 17:36] kevincon commented on #119
Check out this Stack Overflow for some code to register for the low memory warning notification with a callback method: http://stackoverflow.com/questions/740562/where-and-how-do-i-register-an-object-for-receiving-a-notification

[2015-01-05 17:41] kevincon commented on #85
It'd be great to measure our test coverage. Here's a guide on how to do that: http://qualitycoding.org/xcode-code-coverage/ if someone wants to take a look. Then we could add a badge to the README that (hopefully) says "Coverage: 100%".

[2015-01-05 17:53] ws233 commented on #85
By the way, we use Travis CI for the tests.
Does it have this functanality? It should, I guess.

[2015-01-05 17:57] kevincon commented on #85
I'm not sure Travis CI does natively, but it supports some other services that do. Maybe we can use this: https://coveralls.io/ It would require @gali8 to sign up with his Github login since he owns the repository, but it's free for open-source projects and CocoaPods actually uses it for their testing coverage.

[2015-01-05 18:15] ws233 commented on #38
Something wrong with tests building.
It seems, that for the iphonesimulator7.0 the SDK7.0 is used, isn't it?

[2015-01-05 18:18] ws233 commented on #38
Related to this:
http://stackoverflow.com/questions/24119896/ns-designated-initializer-expected-colon
for iphonesimulator7.0 xcode 5 is used, which doesn't have a lot of things, which are used in SDK8, like NS_DESIGNATED_INITIALIZER or cancelled property of the NSOperation class.
So, I'll change tests to run on iphonesimulator7.1. Hope, it helps.

[2015-01-05 19:03] ws233 commented on #38
There is one more advantage of using dynamic framework instead of the static library. :)
Dynamic framework could be released on memory warnings automatically by the system. I'm not sure about it, but it seems very likely. In such case an app can free 5,3MB when it doesn't not use tesseract.

[2015-01-05 19:09] ws233 opened #122 "sourceResolution question"
1. sourceResolution never set to the upstream Tesseract without calls to setResolution. Is it ok? Is it a default value of the upstreamTesseract? I mean, in the setImage, setResolution setter is not called. so the value is only set to the instance variable and not set to the upstream Tesseract.
2. is 300dpi is the real value for all available Apple device cameras? I mean all of them starting from

[2015-01-05 19:26] ws233 commented on #109
With the last changes both functions work correct without any crashes.
Perhaps, something was wrong in the way I was using those functions.

Regarding reimplementation of the characterBoxes. It seems that it's just:
     - (NSArray *)characterBoxes {
         return [self confidencesByIteratorLevel:G8PageIteratorLevelSymbol];
     }

So, do we need this property actually? Perhaps it's more easy to

[2015-01-05 20:49] kevincon opened #123 "Tesseract OCR iOS release 4.0.0"
With the help of @BamX and @ws233, many new features and bugfixes have been added. Since these additions break our existing API, we should prepare for our next major CocoaPods release. Since the previous release was 3.4.0, this means the next major release will be 4.0.0 (following the rules of semantic versioning where the first number increments upon API-breaking changes).

Here are the outstandi

[2015-01-05 21:01] kevincon commented on #109
Hmm, it seems I can't assign you on GitHub because you have not been made a collaborator on the repo. I think you and @BamX should definitely be added as collaborators for all the work you have done. @gali8, what do you think?

[2015-01-05 21:07] ws233 commented on #109
What should we do for this? :)

[2015-01-05 21:09] ws233 commented on #109
And one more question.
What if we rename the function to recognizedBlocksByIteratorLevel to specify the type of the objects in the returned NSArray?

[2015-01-05 21:12] kevincon commented on #109
Sure, `recognizedBlocksByIteratorLevel` sounds even better.

[2015-01-05 21:16] ws233 commented on #75
There is an issue in the upstream Tesseract regarding setInputName:
https://code.google.com/p/tesseract-ocr/issues/detail?id=463
it seems that it's already merged to the master, but it's better to check, if we have this in our code.

[2015-01-05 21:20] ws233 commented on #109
Here it is #124.
Pls, review.

[2015-01-05 21:28] #109 closed

[2015-01-05 21:32] kevincon commented on #42
I've moved the information provided here to the Wiki: https://github.com/gali8/Tesseract-OCR-iOS/wiki/Tips-for-Improving-OCR-Results

I've also added some more notes about using GPUImage. I'll close this issue, but any other ideas about improving OCR results for Tesseract should be added to the Wiki page.

[2015-01-05 21:32] #42 closed

[2015-01-05 21:35] kevincon commented on #75
Nice find! If no one else gets to it, I'll try this tonight to see if it's still necessary to use setInputName.

[2015-01-05 21:40] ws233 commented on #42
Good job!

Should we explain about skipping the internal thresholding somewhere? or at least mention about this feature on that page?

[2015-01-05 21:41] kevincon commented on #42
Yeah I think that'd be good to add. Want to add another section (one "#" in markdown) to explain about it?

[2015-01-05 21:41] ws233 commented on #75
I'm already in progress actually :)
But I'm going to finish work for today soon.
So let me upload things I have for now so you can continue tonight.

[2015-01-05 21:47] BamX commented on #123
And we are waiting for 0.36 release of CocoaPods, aren't we?

[2015-01-05 21:48] kevincon commented on #123
Oh right, yes I'll add that to the list.

[2015-01-05 21:52] BamX commented on #122
We're setting 300dpi in convertion UIImage -> Pix by default. Not sure if it could be getted from UIImage. If developer know actual value he or she could set it up right to this property. We are usinig 7.0+ target, so that devices should have pretty good camera.
I could take a look about it tommorow.

[2015-01-05 21:56] BamX commented on #123
Could you rename issue with something like *Tesseract OCR iOS 4.0.0*? It looks strange referenced in related CocoaPods release pull-request.

[2015-01-05 21:57] kevincon commented on #123
Sure thing, I didn't realize it would pop up on their screen. :)

[2015-01-05 22:11] ws233 commented on #75
so #125 can be a good starting point for you.
There are comments about what's already done there.
I'll come back to this tomorrow.

[2015-01-06 09:09] clemenshelm commented on #75
Hi! I think I had to use `setInputName` because it didn't work otherwise (as mentioned by @ws233 ). Hopefully this is fixed now and isn't needed anymore.

[2015-01-06 09:32] ws233 commented on #42
How can I do this? Do I have a write access to the Wiki?
Wow! I do! :)
Let me try.

[2015-01-06 09:34] ws233 commented on #42
No. actually I don't. I can only edit the Sidebar content. I cannot find how to edit the wiki pages.

[2015-01-06 10:12] ws233 commented on #64
Home page in Wiki is empty :(
Should we copy some info from readme file there?
And there is only one line about the project in the readme. What is the project? Why is this? How can it help developers? and so on. Perhaps, we could take some info from upstream Tesseract.

What do you also think about asking upstream tesseract holders to add the link to this project to their wiki? Here, for example:

[2015-01-06 11:09] BamX commented on #64
We also could add reference to this repository on wiki page of Tesseract: [wiki/Tesseract (software)](https://en.wikipedia.org/wiki/Tesseract_(software))

[2015-01-06 11:46] ws233 commented on #122
Consider the following code:
        G8Tesseract* tesseract = [[G8Tesseract alloc] init];
        tesseract.delegate = self;
        tesseract.image = self.image;
        tesseract.sourceResolution = 72;

         - (UIImage *)preprocessedImageForTesseract:(G8Tesseract *)tesseract sourceImage:(UIImage *)sourceImage {
             return sourceImage;
        }

does sourceResolution = 72 affect som

[2015-01-06 11:57] BamX commented on #122
Sure, it setting local copy of ```sourceResolution``` and setting source resolution for Tesseract by calling ```SetSourceResolution()```. It happens after the image is setted, so everything should be ok.

[2015-01-06 12:05] ws233 commented on #122
hm... but what is the result of this? Nothing changed in the recognition results in my case.
Which values should I put to break the recognition process or make it better?

[2015-01-06 12:27] BamX commented on #122
I don't know :) I've just implemented adaptor for such property. Not sure if it change something.
Here some code from ```baseapi```:
[code]
By the way ```SetSourceResolution``` changes inner fields of Thresholder that initialized by setting image that how:
```estimated_res_ = yres_ = pixGetYRes(src);```
I've created small PR #126 that move default value to constant. Tesseract thresholder using ```

[2015-01-06 12:34] ws233 commented on #122
I see.

[2015-01-06 12:50] ws233 commented on #64
I've added a note to wiki: https://en.wikipedia.org/wiki/Tesseract_%28software%29.

[2015-01-06 13:16] BamX commented on #64
Well done!

[2015-01-06 14:15] BamX opened #127 "How about PromiseKit"
I've found interesting library here: http://promisekit.org/
It simple to implement something like that [AFNetworking+PromiseKit.m](https://github.com/csotiriou/AFNetworking-PromiseKit/blob/master/PromiseKit%2BAFNetworking/AFNetworking%2BPromiseKit.m).
And here a guide how to setup **subspec** http://promisekit.org/pods/
It's simple and may be useful for someone.

[2015-01-06 19:13] kevincon commented on #42
I think you should be able to because @BamX was able to edit one of the Wiki pages and he doesn't have collaborator status. Here's where I see it:

![screen shot 2015-01-06 at 11 12 26 am](https://cloud.githubusercontent.com/assets/817753/5634497/fb29c73a-9594-11e4-87e8-ea2e1751fa56.png)

[2015-01-06 19:22] kevincon commented on #64
@ws233 cool!

As for the README, I think it's okay because we link to the relevant parts of the Wiki.

We should definitely add more info to the Wiki homepage. If my other note helps you edit Wiki pages, then feel free to get started on that.

And yeah, maybe when we finish the 4.0.0 release we can ask the upstream guys to add this project to their 3rd party wiki page.

[2015-01-06 19:24] kevincon commented on #127
Adding a subspec for opt-in PromiseKit support sounds good to me. Feel free to work on it if you like. Promises are fun. :)

[2015-01-06 19:24] ws233 commented on #127
Could you give a few examples, how it can be applicable in the project?

[2015-01-06 19:27] ws233 commented on #122
So it seems that this property has no effect at all :)
Somebody wants a further investigations on this?
Perhaps, it's better to close this?

[2015-01-06 19:30] ws233 commented on #42
Ah! Thanks a lot for the help.
Seems ok now.

[2015-01-06 20:42] BamX commented on #122
I think it could be closed. Nothing more to discuss about.

[2015-01-06 21:06] ws233 commented on #64
I've written some info on Home page and added a topic related to Tesseract integrated thresholder bypassing here: https://github.com/gali8/Tesseract-OCR-iOS/wiki/Tips-for-Improving-OCR-Results
Could you take a look on this and correct my broken English or add something important, what I forgot to mention?

[2015-01-06 21:21] ws233 commented on #127
Ah. I think I got what you were talking about!
You didn't say about applications of this library, did you?
Instead, you want the framework could create promises and send all the related events, do you?
Seems intresting, if that's an idea.

[2015-01-06 21:27] ws233 commented on #64
And I found that API is not documented at all. There are only methods without any descriptions. Is it a known issue?

[2015-01-06 21:56] kevincon commented on #64
It will be automatically updated when we release the cocoa pods update.
On Tue, Jan 6, 2015 at 1:51 PM Cyril <notifications@github.com> wrote:

[2015-01-07 06:42] kevincon commented on #64
Thanks for your additions to the Wiki, @ws233. I improved the wording on them and a few other tweaks; let me know if you think it looks okay.

[2015-01-07 08:56] gustafnilklint opened #128 "Framework is missing"
For those (like myself) that for different reasons cannot use/don't want to use cocoapods I have been relying on the manual installation of the project. Critical to this installation is the actual .framwork which seems to be removed in one of the later commits.
I know that I could add the framework-project as a build dependency, but I would prefer not to.

Can we have it back please =)

[2015-01-07 12:57] ws233 commented on #128
@gustafnilklint, that's a bad practice to store binaries in the repository. Binaries significantly increase the size of the repo with every next commit we do. That's why we decided to remove it.
I strongly recommend you to use framework-project or cocoapods.

[2015-01-07 17:33] kevincon commented on #128
How about a compromise? @ws233 what if we:

1. Add the framework to the .gitignore file so it won't ever be included in the repo
2. Put back the TesseractOCRAggregate target so that users like @gustafnilklint could build the .framework file themselves for their project

What do you think?

[2015-01-07 18:08] ws233 commented on #128
Sure. I don't mind compromises :)
But, It's exactly the same as using framework-project, isn't it? There is no need to put back TesseractOCRAggregate target as I see now.
It's possible to compile TesseractOCR target and get the .framework, which could be inserted in any project.
@gustafnilklint, could you explain more detailed what you are going to achieve and why the available approach doesn't sa

[2015-01-07 21:11] kevincon commented on #128
@gustafnilklint I think he's right, can't you just copy TesseractOCR.framework into your project after building the TesseractOCR target in Tesseract-OCR-iOS.xcworkspace? That should be exactly the same as what you did for your project before we removed the framework from the repo.

[2015-01-07 22:38] gustafnilklint commented on #128
@ws233 I totally agree that it is bad pratice to commit binaries, especially from your point of view since the project certainly has a lot of activity. On the other hand, from my prerspective I will probably stick with my static library for years to come (hopefully). OCR isn't the main feature of my project
My motivation not to use Cocoapods is that it isn't possible within the companys firewall.

[2015-01-07 23:05] kevincon commented on #128
@gustafnilklint Yeah give the release build a shot and let me know if it works okay. I tried it myself and it built without errors, so I think it should work for you.

It should include all architecture variants because "Build active architecture only" is set to NO for release builds on the framework target in Xcode.

I believe you can generate the framework file using xctool from the command line

[2015-01-08 07:50] kevincon commented on #128
@gustafnilklint try this out:

First install xctool if you don't already have it, using homebrew:
[code]

Then `cd` to the directory where the Tesseract-OCR-iOS repo is.

Finally, run this xctool command to build the framework in the root of the repo directory. Change `$PWD` if you want to use a different directory to store the resulting framework:

[code]

[2015-01-08 08:29] ws233 commented on #128
@gustafnilklint, Thanks for a detailed answer.
You wrote: "As the OCR-funtionality is just one small feature in a fairly large application I want the tesseract lib to make the smallest possible footprint in the overall project."
What about git repo submodule? Its footprint is as small as just a link to this repo in your own repository. I use this approach in my own projects. After you have added a

[2015-01-08 08:58] gustafnilklint commented on #128
@ws233, @kevincon  First of all, I am very thankful for your help and I will close the Issue today. I allready use a submodule for the TesseractIOS. Actually I'm working on 3 different apps that share a common git submodule that contain "base funktionality". One of these base funktionalities that is going to be shared is an OCRScannerViewController that needs the Tesseract.framework.
I really like

[2015-01-08 08:58] #128 closed

[2015-01-08 09:11] ws233 commented on #128
ok. fell free to reopen the task if you need more support!

[2015-01-08 09:29] kevincon commented on #128
@gustafnilklint Ah interesting, well I hope xctool (and xcodebuild underneath) can build a target for more than one architecture, but it's not clear to me. You might try experimenting with setting multiple values for the `-arch` flag to xctool. Good luck!

[2015-01-08 10:02] gustafnilklint commented on #128
Update if anyone else is interested:
xctool -workspace Tesseract-OCR-iOS.xcworkspace -scheme TesseractOCR -configuration Release -sdk iphoneos CONFIGURATION_BUILD_DIR=./Products

Adding the -sdk iphoneos param makes it actually build for arm.

[2015-01-08 15:01] mdenty opened #129 "Use after free in G8Tesseract.mm"
The **- (UIImage *)thresholdedImage** message crashes always because of an use after free.
The code is:
[code]
It should be:
[code]
After editing the *thresholdedImage* message, it does not crash anymore but the grabbed image is solid black...

[2015-01-08 16:40] ws233 opened #130 "pixForImage doesn't consider imageOrientation"
Steps to reproduce an issue:
1. Rotate any image using
rotatedImage = [UIImage imageWithCGImage:cgImage scale:_image.scale orientation:orientation];
to left or right orientation, so width is changed with height.
2. Set it to the Tesseract with tesseract.image = rotatedImage.
Crash happens. I think the reason is mismatching width and height after rotating. Actually data is not changed after this op

[2015-01-08 17:16] BamX commented on #130
Sure, I'll take a look on it tomorrow. Have an idea how to fix it(have some prblems with orientated images in my project).

[2015-01-08 17:28] ws233 commented on #130
I think a Pix image should be created considerring imageOrientation. I mean, it shouldn't be the exact byte copy of the source image. Instead it should be rotated the same as imageOrientation of the source image.

[2015-01-08 17:32] ws233 commented on #130
Also I think analyzeLayout function also doesn't work. It returns all 0s for any image I send to it. Do you know how to use this function and what I do wrong?

[2015-01-08 18:01] kevincon commented on #129
Interesting, well the method seems to work fine in our tests. Can you provide us with the general steps you're taking and their order when you call `thresholdedImage`? Like calling an init method, setting image, anything else?

[2015-01-09 07:32] BamX commented on #130
In tests it works fine, isn't it? It return non-zero result for ```deskewAngle```.

[2015-01-09 08:46] mdenty commented on #129
Context: I've created a wrapper swift class to replace my old implementation of Tesseract wrapper with yours.
The wrapper is a singleton that may be called multiple times for the same image.
I've add the Clear method to your wrapper since I have a memory leak of the internal pix image if I do not call Clear() between two images.
tesseract let value is initialized once in the singleton constructor

[2015-01-09 21:36] kevincon commented on #129
Just as a sanity check (I'm sure you are), but you're calling your `useImage` method before `recognize`, right? What happens if you don't apply `g8_blackAndWhite()` to the image before giving it to Tesseract? Do you still get the crash?

### Now to analyze the code:

Our `thresholdedImage` method calls `Pix *pixs = _tesseract->GetThresholdedImage();`, which creates a copy of the internal threshold

[2015-01-09 22:10] kevincon commented on #122
I'll close this issue since the question has been answered and we are close to closing #126.

[2015-01-09 22:10] #122 closed

[2015-01-09 22:17] kevincon commented on #52
@joaomvfsantos, we don't have a good/safe way to provide access to the underlying `tesseract` variable right now.

I'm going to close this issue for now, but if there is specific functionality/customization you'd like to see in the library, please open a new issue so we can discuss adding it for you. Depending on the customization, a subclass-based solution (like you mentioned) may be possible.

[2015-01-09 22:17] #52 closed

[2015-01-09 22:20] kevincon commented on #64
I think the last Wiki page that needs to be edited before we can close this issue is the Contributing page: https://github.com/gali8/Tesseract-OCR-iOS/wiki/Contributing

I'll find some good information to put in the "How to contribute" space and then close this issue. I'll work on this tonight.

[2015-01-09 22:25] kevincon commented on #85
@gali8 just another bump to activate this repo on https://coveralls.io/ so we can add a test coverage percentage badge to the README.

[2015-01-10 00:35] gali8 commented on #85
The repo is linked to coveralls and the badge is already in the readme.
Look at your email @kevincon. I send you the repo token etc...

[2015-01-10 03:21] kevincon commented on #85
Thanks so much @gali8! We now have coveralls working with the repo. :)

Notice we only have 79% coverage with our tests; we should aim to improve that if we can. Here you can see the coverage by file for the most recent commit:
https://coveralls.io/builds/1721123

[2015-01-10 08:15] ws233 commented on #85
Thank you a lot from my side as well, @gali8!

That's a good value! Greate progress! :)
Perhaps, we should create subtasks for remaining uncoverred lines and spread them between us.
But let's do this after the grand release :)

[2015-01-10 10:09] BamX commented on #129
Absolutely! That's my bad, sorry. I think this hotfix will solve this issue.

[2015-01-12 14:29] ws233 commented on #119
If nobody minds I can start working on this.

[2015-01-12 15:11] ws233 commented on #119
So I did found that a refernce counter is used for any 'dawg' data inside tesseract.
That means we can safely call clearCache even if there is a recognition in progress.
I'm going to implement a test for this case.

I will also add a subcribtion to the memory warning notification and tests to check them.

[2015-01-12 15:37] ws233 commented on #129
Will this fix a totally black thresholded image?
I also have it accessing this property.

[2015-01-12 16:04] ws233 commented on #119
So there is a PR #134 for this.

[2015-01-13 00:47] kevincon commented on #129
I haven't tried it to see if it does; can you try it and let us know? Also @mdenty did you get a chance to try the hotfix yet?

[2015-01-13 08:21] mdenty commented on #129
Not tested yet, sorry. I'm too busy for now.

[2015-01-13 08:43] ws233 commented on #85
I've uploaded a PR #135 with unit tests for G8RecognizedBlock.
They help to find a bug in isEqual and hash function.
First, was here:

       else if ([super isEqual:other] == NO) {
            return NO;
       }

As apple documentation says: "The default NSObject implementation of isEqual: simply checks for pointer equality." (https://developer.apple.com/library/ios/documentation/General/Concept

[2015-01-13 08:48] BamX commented on #85
How should we calculate hash of 4 CGFloat values? I've thought about it and not found any good solution for it.

[2015-01-13 08:55] ws233 commented on #85
what if we use NSStringFromCGRect and use its hash instead?

[2015-01-13 08:57] ws233 commented on #85
There is another affort: https://gist.github.com/steipete/6133152

[2015-01-13 09:01] BamX commented on #85
It's very accurate. If the same block will be with any little change in accuracy of bounding box it will broke everything. We could use rounded values like (NSInteger)(height*1000) and 1000 will be a constant. What are you think?

[2015-01-13 09:15] ws233 commented on #85
Do we need this rounding by the way?
In such case the comparison in the isEqual method should also be changed to consider this rounding.
I mean, can we use the same rounding, which is used here:

        result = result && CGRectEqualToRect(self.boundingBox, otherBlock.boundingBox);

Anybody nows how this function does rounding?

[2015-01-13 09:26] BamX commented on #85
We don't have to make hash use all information of block. This approximation will be good, I think. But I don't know, how ```CGRectEqualToRect``` actually works.

[2015-01-13 09:36] ws233 commented on #85
We don't, that's right. But it's better to include as many info there as possible, since the comparing first done according to the hash value and it's much faster than comparing the whole object property by property.
Anyway, if you decide not to include it in hash, I'm ok with it.

And I'm also going to insert return NO after every property comparing. I think it will work much faster, if the code

[2015-01-13 10:09] BamX commented on #85
Sure. And I think bounding box should be added to hash with small accuracy.

[2015-01-13 10:11] ws233 commented on #85
ok. can you add it?

[2015-01-13 10:14] ws233 commented on #129
I did move the pixDestroy to the end and it seems it fixed totally black thresholded image issue.
But it seems that it's inverted. Perhaps, that what is necessary for further upstream tesseract processing. So I think that should be mentioned in the .h.

So, do we need to check all other pixDestroy in our code?

[2015-01-13 10:14] BamX commented on #85
I'm a little busy now. Could you write CGRect hash method yourself and add to #135 ?

[2015-01-13 10:20] ws233 commented on #85
ok. I'll take this.

[2015-01-13 10:22] ws233 commented on #129
And what's wrong with tests? Why do they work?

[2015-01-13 14:52] gustafnilklint opened #136 "Analyser warning - Result of 'malloc' is converted to a pointer of type 'const char *'"
G8Tesseract.mm:166:43: Result of 'malloc' is converted to a pointer of type 'const char *', which is incompatible with sizeof operand type 'int'

const char **configs = (const char **)malloc(sizeof(int) * count);

should probably be changed to:

const char **configs = (const char **)malloc(sizeof(const char*) * count);

[2015-01-13 16:45] ws233 commented on #136
It seems you're right. But I don't have this warning.
Could you propose more details how I can reproduce this? Which framework and xcode version do you use, which target?

[2015-01-13 16:47] ws233 commented on #136
Ah. I see. That's an analizer warning.
I'll fix this.
Thank a lot for your contribution, @gustafnilklint!

[2015-01-13 16:56] ws233 commented on #136
There is a PR with the changes you siggests #137.

[2015-01-15 00:19] #136 closed

[2015-01-15 00:23] #119 closed

[2015-01-15 00:27] kevincon commented on #129
I think our test right now is quite limited; doesn't it only perform the thresholding on the 0123456789 image?

Also, maybe it's an issue that only becomes apparent in Swift for some reason...

[2015-01-15 00:28] kevincon commented on #75
Feature added with #125.

[2015-01-15 00:28] #75 closed

[2015-01-15 08:28] mdenty commented on #129
The hotfix seems to do its job. It just works here.

[2015-01-15 09:07] ws233 commented on #129
I don't write in swift.
In my case I don't have a crach, but have a totally black image.

[2015-01-15 16:33] kevincon commented on #129
I was referring to @mdenty since he's using swift, but I'm glad the hot fix worked for both of you. I'll create a pull request for it tonight or tomorrow, I'm traveling on a plane for most of today.

[2015-01-16 23:25] #129 closed

[2015-01-20 02:11] pwansch commented on #46
Hi Kevin,
I just created a brand new iOS 8.1 project in Xcode 6.1.1, added this line to a blank Podfile:
pod 'TesseractOCRiOS', '3.4.0'
and nothing else and did pod install. When I open my project Snap.xcworkspace, I see the following:

![snap](https://cloud.githubusercontent.com/assets/1839855/5811121/3c34669c-a006-11e4-9ad2-bc9567289258.png)

The framework files in the Pods project are red, beca

[2015-01-20 08:58] ws233 commented on #46
Hi, @pwansch.
Could you try this #111 and tell us if it helps?

[2015-01-20 20:15] kevincon commented on #46
@pwansch, I created a new project using the same steps as you did, and although I also see those items in red like you do, building and running the project works perfectly fine (see screenshot below).

The only red items that refer to the iOS7.1-related path are Foundation.framework and UIKit.framework in Pods/Frameworks/iOS. This seems to be an issue with CocoaPods itself, but I can assure you th

[2015-01-20 20:42] pwansch commented on #46
Thank you @kevincon. This perfectly answered my question.

[2015-01-24 12:59] ws233 opened #140 "G8OCREngineModeTesseractCubeCombined and G8OCREngineModeCubeOnly issues for rus locale"
1. Setup tesseract with rus locale.
Set G8OCREngineModeTesseractCubeCombined. Try to recognize.
Crash: init_cube_objects(true, &tessdata_manager):Error:Assert failed:in file tessedit.cpp, line 203

2. Setup tesseract with rus locale.
Set G8OCREngineModeCubeOnly. Try to recognize.

The corresponding code snippet is in the it(@"Should set variables from dictionary and reinit correctly", ^{ unit test

[2015-01-25 04:09] kevincon commented on #140
I was able to reproduce everything you described.

It's very odd, because if I execute the following from the command line (with Tesseract 3.03 installed and all the "rus" traineddata/cube files in my computer's tessdata folder):

[code]

I (correctly) get:

[code]

I googled around and played with some of the test settings but I can't figure out what might be happening. I even modified Template F

[2015-01-25 07:08] ws233 commented on #140
Thanks for this investigation, @kevincon.
Just a few questions to make it more clear for me.
rus traineddata from the host tesseract and from the iOS app bundle are exactly the same? Did you compare them? If you use brew to install tesseract, there could be different traineddata files.

[2015-01-25 07:38] kevincon commented on #140
Yeah that's one of the things I tried. I copied the rus files from my computer's installation (which came from homebrew) to the iOS referenced folder and it didn't change the result. I didn't try it the other way around (copying iOS files to my computer), but I don't think that would have worked either.

[2015-01-25 07:48] ws233 commented on #140
ok. I see. I will try to search for a decision before submitting an issue to upstream Tes.

[2015-01-25 07:52] ws233 commented on #140
Also, I didnot find -c parameter parsing in tesseractmain.cpp.
Are you sure the command line above initiate Cube mode?
Could you give me a favour and try creating a config file with the variable above and then send the config file name in the command line instead of the -c parameter?

[2015-01-25 08:08] ws233 commented on #140
I've found a reason.
If you create a tess instance with G8OCREngineModeTesseractCubeCombined everything works fine and tests pass. So it seems that we do not do some clearing while changing engineMode.
And it seems that cube_cntxt_ should be cleared. Take a look on line 204 of the cube_controll.cpp. That seems to be a place of assertion. It's similar to the print log from my first post.

[2015-01-25 08:12] ws233 commented on #140
Uooops! Sorry for that. I've used eng locale. But for rus. it still doesn't work.
A few more logs with cube_debug_level=1
Cube ERROR (Failed to instantiate TesseractCubeCombiner
init_cube_objects(true, &tessdata_manager):Error:Assert failed:in file tessedit.cpp, line 203
So we can see that this function runs till the end and return false.

[2015-01-25 08:26] kevincon commented on #140
Aha! You were right, the `-c` parameters aren't respected despite the man page saying they should be.

When I created a config file to set the engine mode to cube only, I got the same result we do in iOS:

[code]

And when I set the engine mode to combined with cube, I get the same crash that we do on iOS:

[code]

Therefore, I think you are definitely justified in submitting an issue to the upstr

[2015-01-25 08:45] ws233 commented on #140
ok. I will. But I think they do not answer anymore.

[2015-01-25 09:00] ws233 commented on #140
Hm. I think that's the reason.
There are two files for eng locale: eng.tesseract_cube.nn and eng.cube.nn.
And only one for rus locale. rus.cube.nn.
It seems there is one file missing :(

[2015-01-25 09:08] ws233 commented on #140
I tried just to remove eng.tesseract_cube.nn to rus.tesseract_cube.nn and crach disappeared.
But now, G8OCREngineModeTesseractCubeCombined produces the same output as G8OCREngineModeCubeOnly.

[2015-01-27 18:38] ws233 commented on #127
Just curious.
Could this optional feature be optionally compiled?
Is it a good idea to enclose all the code related to this feature with #if #endif?
I just worry that all these runtime stuffs will dramatically decrease framework performance, won't it?
Should we allow user to turn on/off this feature specifing compile time parameter, like #define USE_PROMISES for example?

[2015-01-27 19:44] hhimanshu opened #141 "G8TesseractDelegate not found"
Hey

I am trying to use this project and here is how it looks on my `Xcode Version 5.1 (5B130a)`

![screen shot 2015-01-27 at 11 42 21 am](https://cloud.githubusercontent.com/assets/6589036/5925630/c898bff2-a619-11e4-9050-c4322720e144.png)

I used Option 1 to install

[code]

What's wrong here? What am I missing?

[2015-01-27 21:43] kevincon commented on #127
I was under the impression that making the promise stuff a CocoaPod subspec would mean that it would only be compiled in the framework if the user installs both the "base" spec and the "promise" subspec. We could exclude the promise-related source files from the "base" spec and only include it in the "promise" subspec (as they show in the example in the link above): http://promisekit.org/pods/

[2015-01-27 21:52] kevincon commented on #141
See #111. Basically, we've made lots of changes since pod 3.4.0 (including changing the names of things like delegates and classes) and updated the documentation for those changes, but we haven't yet released a CocoaPod update (see the progress on our next release here, we're almost ready to release it: #123).

If you want to use the code in the repo right now (which will work for the provided exa

[2015-01-28 07:30] ws233 commented on #127
That's an imazing thing!
But I think it only works with pods. For those, who use dependent projects in their workspaces that doesn't make a trick.

[2015-01-28 07:49] BamX opened #142 "Linking problem with :head pod"
I've just update pod with latest version of plugin, so now I can't build my project because of linker failures
![2015-01-28 10-47-42 taggy xcworkspace](https://cloud.githubusercontent.com/assets/443972/5934083/1ca01804-a6db-11e4-950c-b5017da24e93.png)
I've made clean many times, clearing derived data and reinstall pods. Any suggestions?

[2015-01-28 08:02] kevincon commented on #142
What happens if you just create a brand new empty project and try to install the :head pod? If that builds okay, what happens if you add the minimum example code to do recognition (like init a G8Tesseract, give it the 0-9 sample image, and recognize on it)?

[2015-01-28 08:13] BamX commented on #142
It happens in absolutely new project too. Here a log:
![2015-01-28 11-11-39 temptescheck xcworkspace](https://cloud.githubusercontent.com/assets/443972/5934311/922deb84-a6de-11e4-9a96-09f8b473d7ec.png)
And Podfile content:
![2015-01-28 11-11-55 podfile](https://cloud.githubusercontent.com/assets/443972/5934315/9aedee5e-a6de-11e4-9599-74eec595a9f5.png)

[2015-01-28 08:28] kevincon commented on #142
I was able to reproduce the error you are getting.

I switched my Podfile to use this instead:

[code]

(also using `#import <TesseractOCR/TesseractOCR.h>` for the import)

And it worked, so maybe there's something different about using `:head`?

[2015-01-28 08:58] BamX commented on #142
Are you sure that with that line you have latest version? (head) Please, try this version:
[code]

[2015-01-29 07:01] kevincon commented on #142
That worked for me as well.

Here's the entire contents of my Podfile:

[code]

Each time I changed the Podfile I ran `pod install` which I believe is the correct way to re-configure the workspace after editing the Podfile, but let me know if you'd like me to try it another way.

[2015-01-29 07:13] BamX commented on #142
May be you should run ```pod update```.

[2015-01-29 07:42] kevincon commented on #142
Yeah it still works after `pod update`.

[2015-01-30 19:49] kevincon commented on #142
@ws233 do you have the issue @BamX describes above if you try creating a new project and using the head of the github repo for the CocoaPod?

[2015-01-30 20:51] ws233 commented on #142
I do not use cocoa pods at all.
But let me check this issue on Monday.

--
---------------------------------------

Best regards,
Makankov Kirill

[2015-02-05 05:20] joeldrotleff commented on #111
Just wondering if you can suggest a method of preventing cocoa pods from re-downloading the repository every time I do a pod install. Seems like because it's set to download from github as you suggest, the normal caching is disabled.

[2015-02-05 05:28] kevincon commented on #111
@joeldrotleff you can clone the GitHub repository somewhere local on your computer, and then in your podfile use:

[code]

[2015-02-05 07:48] joeldrotleff commented on #111
Ah that works great. Thanks!

[2015-02-06 08:06] ws233 commented on #142
Finally, I did check this issue.
I've create a new project, added a pod and use just a simple code

      [[G8Tesseract alloc] init];

And there is a linking error:

      Undefined symbols for architecture x86_64:
      "_OBJC_CLASS_$_G8Tesseract", referenced from:
      objc-class-ref in MasterViewController.o
      ld: symbol(s) not found for architecture x86_64
      clang: error: linker comma

[2015-02-06 16:01] kevincon commented on #142
@ws233 what's your Podfile look like right now?

[2015-02-06 16:09] ws233 commented on #142
pod 'TesseractOCRiOS', :head

[2015-02-06 16:14] kevincon commented on #142
Can you try replacing that with:

[code]

and running `pod install`? Do you still get the linking errors then?

[2015-02-06 17:13] ws233 commented on #142
That's ok. There are no linking errors, but only if I change import line, like you've already told above.
Also I did pod install verbose. And there is such line there:

    -> Installing TesseractOCRiOS 3.4.0 (was HEAD based on 3.4.0)

[2015-02-06 22:16] kevincon commented on #142
Thanks for looking into that, @ws233. @BamX since it works for both @ws233 and me, I think the linking errors might be an issue on your end.

[2015-02-06 22:21] kevincon commented on #142
Ah I think I understand what's going on, at least with why `:head` doesn't work. I'm not sure why it's not working for you, @BamX, when you use the github repo and the specific commit, but here's what CocoaPods mentions about using `:head`:

"Finally, instead of a version, you can specify the :head flag. This will use the pod’s latest version spec version, but force the download of the ‘bleeding e

[2015-02-10 14:21] AasmaRaza opened #143 "TessesractOCR.framework is missing"
I have downloaded/cloned the project. Tried manual installation and cocoapods, but there is no framework how will i proceed?

[2015-02-10 18:15] mdenty opened #144 "UIImage (G8Filters) missing at runtime (SOLVED)"
I write this little text for anyone that may have the same issue.

I used to put TesseractOCR.framework as an embedded framework in my project.
Since iOS7 does not support embedded frameworks, I've decided to put TesseractOCR as "normal" framework.
My project built and linked without problem, but at runtime I use `- (UIImage *)g8_blackAndWhite;` method of `UIImage (G8Filters)` category and I got s

[2015-02-10 19:22] kevincon commented on #144
Thanks for this note, @mdenty. Actually, could you move this to the installation page in the Wiki as a new section about using the library as a non-embedded framework? I think you should be able to edit it as a public user, but let me know if you have any issues with it: https://github.com/gali8/Tesseract-OCR-iOS/wiki/Installation

[2015-02-11 02:53] kevincon commented on #143
@AasmaRaza can you provide a detailed list of steps you took so that we can try to reproduce your issue? Provide the contents of your project's Podfile, and please also mention your OSX version, Xcode version, and the version of the Tesseract library that you are trying to install (either the latest CocoaPod, 3.4.0, or the development version from this GitHub repo).

[2015-02-11 03:08] AasmaRaza commented on #143
Well, I tried both the cocoapods  and GitHub repo. This is the exact error I am getting TesseractOCR/TesseractOCR.h' file not found. Although .h file is present but the framework is missing. I can not find it anywhere in the project file as well. Here are the contents of my own Podfile

![screen shot 2015-02-11 at 8 04 28 am](https://cloud.githubusercontent.com/assets/10925558/6141271/d17ff156-b1c

[2015-02-11 03:39] kevincon commented on #143
Can you describe the process you used to install the CocoaPod? Can you also post a screenshot of your Xcode window showing the error (particularly the part that shows the files in the project)?

[2015-02-11 05:25] AasmaRaza commented on #143
I followed the instructions given here http://cocoapods.org/ to install cocoapods.
Here is the screen shot of the Xcode window.
![screen shot 2015-02-11 at 10 24 01 am](https://cloud.githubusercontent.com/assets/10925558/6142435/36330c06-b1d8-11e4-9b59-8942b610174b.png)

[2015-02-11 05:30] kevincon commented on #143
I'm confused by the screenshot, since that's showing Template Framework Project and your Podfile mentions a project called "ScratchCard".

One thing that might be tripping you up if you're new to CocoaPods is that, after running `pod install` in the terminal, you need to always open the .xcworkspace file that CocoaPods creates instead of the usual .xcodeproj file. Are you sure you're using the wor

[2015-02-11 05:41] AasmaRaza commented on #143
Actually the problem is that I can not compile the actual TesseractOCR project because there is no framework.

Yes, the Podfile that I sent was of my own project. After creating the Podfile and editing it as mentioned on the installation page cocoa pods won't update, saying that the git repository was not found. There was no . xcworkspace file created as well. May be its because update did not hap

[2015-02-11 05:54] kevincon commented on #143
Can you post the exact error CocoaPods is giving you about the git repository not being found? I have a feeling that the error is unrelated to this project and might be an issue with your CocoaPods installation because CocoaPods pulls the specs for any pod you want to install from a master git repo.

I'm focusing on helping you with the CocoaPods method of installation because no one else has repo

[2015-02-11 06:06] AasmaRaza commented on #143
@kevincon I must say you are a life saver. I just tried updating again so that I could send you the error and the miracle happened. It is ACTUALLY updating pods. Will update you in a while when and if its done.
![screen shot 2015-02-11 at 11 05 37 am](https://cloud.githubusercontent.com/assets/10925558/6142729/f098a952-b1dd-11e4-8b19-673cde058fe4.png)

[2015-02-11 06:13] AasmaRaza commented on #143
Thanks @kevincon it worked. I still don't know why it is working and why it didn't work last night. Appreciate your help.

I am closing this issue here. Thanks again.

[2015-02-11 06:13] #143 closed

[2015-02-11 07:53] Abderezai opened #145 "cocoapods tessdata missing"
Tried the cocoapods route and expected it to work out of the box,
complains that the tessdata is missing. Couldn't find a solid solution.
Attempted the manual install, and the framework was missing.
WT-Ph?

[2015-02-11 08:17] kevincon commented on #145
Tessdata files aren't provided in the framework or in the CocoaPod. These are just the standard Tesseract files that you can download from the upstream website at: https://code.google.com/p/tesseract-ocr/downloads/list

For example, for the English language you would download "tesseract-ocr-3.02.eng.tar.gz". Note that within that archive is a "tessdata" folder; this is the folder that you need to

[2015-02-11 08:30] gracegyu opened #146 "I can't build this project."
I'm using Xcode6.1.1 , OSX 10.9.5

When I build any project include Tesseract OCR iOS.xcodeproj with XCode, "TesseractOCR/TesseractOCR.h file not found" error occurs.

I followed this guide Option 1 (https://github.com/gali8/Tesseract-OCR-iOS/wiki/Installation)

I think there is not TesseractOCR.framework in my directory.
What can I do for it?

[2015-02-11 08:37] gali8 commented on #123
@kevincon what about the 4.0 v? we are ready to release in cocoapods?
@BamX have you seen the first issue in the list above?

[2015-02-11 08:39] kevincon commented on #146
First of all, the Wiki is outdated if you're using CocoaPods with version 3.4.0. I recommend you use the development version so you can follow the rest of the instructions in the Wiki.

Have you used CocoaPods before? What's in your Podfile? Did you run `pod install` in terminal to install this library's pod? Was an .xcworkspace file created? Did you open that file to try building your project?

[2015-02-11 08:46] gracegyu commented on #146
I haver CocoaPods v0.35.0.

My Podfile is like below
------------------------------------------
source 'https://github.com/CocoaPods/Specs.git'
workspace 'Tesseract-OCR-iOS'
xcodeproj 'TestsProject/TestsProject.xcodeproj/', 'Coverage' => :debug

target 'TestsProjectTests' do

        pod 'Kiwi', '~> 2.3.1'

end

pod 'TesseractOCRiOS', :head
---------------------------------------------------

I ha

[2015-02-11 08:47] kevincon commented on #123
@gali8 I haven't heard back from @ws233 or @BamX about pull request #126, which would fix #122 in the list above. Editing the Wiki for #64 is done enough for the 4.0.0 release. The last un-checked item is that we were waiting on the next version of CocoaPods to be released due to a new method we were using to build the Tesseract framework (embedded framework), but I think we are no longer using th

[2015-02-11 08:49] kevincon commented on #146
I see, so you are trying to use the actual code in this repo. All you should have to do for that is build the Template Framework Project target in Tesseract-OCR-iOS.xcworkspace to be able to run the demo application. Does that work for you?

[2015-02-11 08:54] gracegyu commented on #146
Is TestsProject demo application?

When I build Tesseract-OCR-iOS.xcworkspace, Errors occurred like below.
[code]

[2015-02-11 08:55] gali8 commented on #123
@kevincon  Ok! I hope that @BamX can fix #122 above.
Tomorrow I will release 4.0 on cocoapods.

[2015-02-11 08:56] kevincon commented on #146
No, the demo application is actually called "Template Framework Project". It exists as a target in Tesseract-OCR-iOS.xcworkspace, see here, it's checked:

![screen shot 2015-02-11 at 12 55 12 am](https://cloud.githubusercontent.com/assets/817753/6144155/aee770f6-b188-11e4-8869-dac917b0ae99.png)

[2015-02-11 09:00] kevincon commented on #123
Whoa, hold on, why don't we just wait to release version 4.0.0 (remember, three numbers in the version from now on :) until #122 gets fixed? I'm sure @ws233 or @BamX will get a chance to look at it within the next day or so since we've reminded them tonight. I don't think it makes sense to release 4.0.0 when we're so close to fixing this last issue. I'll tag the 4.0.0 release on Github myself when

[2015-02-11 09:00] gracegyu commented on #146
Build succeeded.

Thank you very much.

What is the TestProject?

[2015-02-11 09:03] kevincon commented on #146
It contains unit tests for the Tesseract iOS library. You can run the unit tests by setting the target to be the TestsProject and going to the Product menu -> Test. But it will only work if you run `pod install` from the terminal to install the Kiwi unit testing library (that's what the Podfile in this repo is for).

Since this issue is resolved, I'll close it here. Feel free to reopen it (or a ne

[2015-02-11 09:03] #146 closed

[2015-02-11 09:04] kevincon commented on #145
I've updated the installation instructions in the Wiki (https://github.com/gali8/Tesseract-OCR-iOS/wiki/Installation) to make this more clear, so I'll close this issue. Feel free to reopen it (or create a new issue) if you have any other questions.

[2015-02-11 09:04] #145 closed

[2015-02-11 09:04] gali8 commented on #123
Yep, LATER I will release 4.0.0 :)

[2015-02-11 09:05] kevincon commented on #142
Using `:head` in the Podfile should work once we release version 4.0.0, but in the mean-time I've reverted the installation instruction in the Wiki to use the full GitHub repo URL for the development version of the CocoaPod: https://github.com/gali8/Tesseract-OCR-iOS/wiki/Installation

I'm going to close this issue for now.

[2015-02-11 09:05] #142 closed

[2015-02-11 09:07] gracegyu commented on #146
I'm trying to recognize Sudoku puzzle from newspaper or books with this project.
But there is grid with numbers and blank cell.
Can you recommend good solution or techknowledge that I can use with Tesseract to recognize sudoku puzzle?

Thanks.

[2015-02-11 09:12] kevincon commented on #146
Unfortunately that's difficult to do JUST using Tesseract because Tesseract only performs OCR on black text on a white background and doesn't work very well with irregular text patterns.

It looks like your idea has been done before, and here's an explanation of how one user used OpenCV, potentially in combination with an OCR engine like Tesseract, to achieve his results: http://sudokugrab.blogspo

[2015-02-11 09:16] gracegyu commented on #146
Thank you.
I'll try it.

[2015-02-11 17:15] #144 closed

[2015-02-11 17:54] Abderezai commented on #145
Hi,
I put the blue tessdata folder in my main project, but got the same error:
"Please make sure the TESSDATA_PREFIX environment variable is set to the parent directory of your "tessdata" directory."

Where do I copy the folder? how do I set TESSDATA_PREFIX?

Thanks

[2015-02-12 00:37] kevincon commented on #145
Can you post the code you're trying to run that is producing the error? Also can you post a screenshot of your project structure, including all sub-files/directories of the tessdata folder?

[2015-02-16 21:11] DJLectr0 commented on #145
I have the same problem. It is complaining about not finding the eng.tessdata file although I want to use the deu one. Code:
var tesseract:Tesseract = Tesseract();
                                tesseract.language = "deu";
                                tesseract.delegate = self;
                                tesseract.setVariableValue("01234567890", forKey: "tessedit_char_whitelist");

[2015-02-16 22:04] kevincon commented on #145
That's strange, would you mind emailing me your OCR_TEST project/workspace folder as a zip file so I can take a closer look? You can email it to me at: kcon AT stanford DOT edu

[2015-02-16 22:15] DJLectr0 commented on #145
Ok I have sent you the files. Note: I have added some stuff for using a camera picture but the same error occured while using the swift example.

[2015-02-16 22:33] kevincon commented on #145
Thanks @DJLectr0, I think I was able to fix it by changing your code to:

[code]

Let me know if that fixes it for you.

If you look in our code, our initializer for Tesseract will use "nil" for the language unless you specify it using the convenience initializer. It looks like if Tesseract receives "nil" for the language, it uses english as a default! Unfortunately I don't think this is something

[2015-02-17 10:31] DJLectr0 commented on #145
Ok thank you for fixing that it works now.

[2015-02-17 10:37] DJLectr0 opened #147 "Swift crash at setting image"
Hello,

When I want to set my Image for the tesseract object it crashes. Code:
[code]
Error:
EXC_BAD_ACCESS
BSXPCMessage received error for message: Connection interrupted

I think that is because in the Obj-C samples you call g8_blackAndWhite on the images. The problem is this function is not available for swift.

[2015-02-17 10:41] DJLectr0 commented on #147
Hmm I found blackAndWhite, but that still does not work.

[2015-02-17 10:41] kevincon commented on #147
I don't believe that's the issue, because you can set `tesseract.image` to be any image, not just one that has been adjusted via `g8_blackAndWhite`.

If this code is from the same OCR_TEST project you sent me before, does that mean the image you are trying to set is something you've captured from the camera? What happens if you add a test image to your app and try using it instead of an image capt

[2015-02-17 10:44] DJLectr0 commented on #147
Its using the camera photo but it just started working.

[2015-02-17 11:09] DJLectr0 commented on #147
Ok when I do not use the blackAndWhite image it crashes with the error above.

[2015-02-17 12:19] DJLectr0 commented on #147
grayscale works too, and the test images do not crash when not using grayscale or blackAndWhite

[2015-02-17 13:41] DJLectr0 opened #148 "Swift setting rect not working"
I wanted to set a rect on the tesseract as follows:

[code]
But it does not work. When using the debugger it says the rect is 0,0,0,0 and the result is either a one or two letter combination which does not in anyway correspond to the image.

[2015-02-17 18:51] DJLectr0 opened #149 "Swift tesseract only recognizing gibberish"
I use this code to recognize an Image taken by the camera and modified with some filters:
[code]
This only recognizes gibberish:
32
3
T5
m
L
CD
U3
8
F
Q
E

When I apply the filters outside the ios app and then use the picture it recognizes correctly.

Images:
Filters withing iOS app
![processedimage](https://cloud.githubusercontent.com/assets/5339762/6234841/1d76853e-b6de-11e4-8b4b-1f4e35de90d0.pn

[2015-02-17 18:54] DJLectr0 commented on #147
When I use a saturation filter and bring down the saturation to 0 it does not need grayscale or blackAndWhite. Maybe It crashes when there are colors?

[2015-02-17 19:19] DJLectr0 commented on #148
Sorry it is my fault. Strangely when applying filters with CIFilters all images rotate by 90°

[2015-02-17 19:33] DJLectr0 commented on #148
But now the Sentence is repeated:
Hallo Tesseract wie geht es dir? Hallo Tesseract wie geht

[2015-02-17 20:20] kevincon commented on #149
What "filters" are you using on the image (both inside and outside the app)?

Have you tried rotating the filtered image within the iOS app to the correct orientation? I don't think Tesseract will perform well on text that is rotated like that.

[2015-02-17 20:24] DJLectr0 commented on #149
Sorry I posted to the wrong issue. The orientation problem is solved, but now everything gets repeated.
Hallo Tesseract wie geht es dir? Hallo Tesseract wie geht

[2015-02-17 20:26] kevincon commented on #147
Tesseract performs best (and really expects) images that are crisp black text on a pure white background (see this article from our Wiki: https://github.com/gali8/Tesseract-OCR-iOS/wiki/Tips-for-Improving-OCR-Results).

But I don't think it should crash on an image that has colors like that. In order for me to best help you debug this issue, can you save an image that causes Tesseract to crash and

[2015-02-17 20:35] DJLectr0 commented on #147
![img](https://cloud.githubusercontent.com/assets/5339762/6236643/960c83e6-b6ec-11e4-91b5-08399d158d7b.png)

If I dont use the saturation filter, grayScale or blackAndWhite it crashes

[2015-02-18 06:39] kevincon commented on #148
What do you mean "now the sentence is repeated"? Are you still running the same code that you mention above? What image are you trying to recognize on? What filters?

In general, please always include a really detailed description of what you're doing to cause the issue you're reporting, because otherwise we can't reproduce the issue ourselves to help you.

[2015-02-18 06:44] kevincon commented on #148
Actually, since this (the result being repeated) seems to be the same issue you describe in #149, I'm going to close this issue and mark it as a duplicate. Please continue this discussion in #149.

[2015-02-18 06:44] #148 closed

[2015-02-18 06:45] kevincon commented on #149
Can you provide me with more info that I might be able to use to reproduce this issue so I can help you?

[2015-02-18 06:55] kevincon commented on #147
I used the OCR_TEST project you emailed me as a starting point to try to reproduce this issue.

I modified the `viewDidLoad` function in ViewController.swift to be:

[code]

I also imported the image you attached above as "test.png".

When I run the app in the iPhone 6 simulator, it does not crash, and the following is printed to the console:

[code]

So it seems like no text is being recognized (

[2015-02-18 07:14] BamX commented on #123
Sorry for not answering. I have too much work now.
And I think we could not release 4.0.0 version before CocoaPods 0.36 release. Am I right?

[2015-02-18 07:19] kevincon commented on #123
I think we thought that we needed CocoaPods 0.36 because it adds support for embedded frameworks, but we switched back from using an embedded framework to using a static framework again, right?

[2015-02-18 07:37] ws233 commented on #123
Hm. We still use embedded framework. But instead of dynamic one a static is used.
So I think we have to wait CocoaPods release. Or at least mention, which version should be used. As I know it's already moved to beta 2 stage.

[2015-02-18 07:39] kevincon commented on #123
Oh okay, in that case I agree that we should continue to wait until the next CocoaPods release.

[2015-02-18 07:45] ws233 commented on #147
@DJLectr0, I think you should better take a look on here:
https://github.com/gali8/Tesseract-OCR-iOS/issues/130
I think, the reason of a crach is in the wrong imageOrientation.
Pls, confirm, that you didn't rotate image changing UIImage imageOrientation property. Instead for now you should do it by redrawing an image pixel by pixel. We are working on the same code nowadays, but it still is not rea

[2015-02-18 07:57] kevincon commented on #64
I finally added instructions for the "How to contribute" section of the Wiki, so I'll go ahead and close this issue now.

[2015-02-18 07:57] #64 closed

[2015-02-18 09:44] DJLectr0 commented on #147
@ws233 You were right, there was not set an orientation for the image. Thank you

[2015-02-18 09:44] #147 closed

[2015-02-18 10:00] DJLectr0 commented on #149
Weird it seems to work now

[2015-02-18 10:00] #149 closed

[2015-02-18 10:09] DJLectr0 commented on #148
actually although it does not say the rect is there it still works.

[2015-02-18 15:09] alimoeeny opened #151 "Problem in G8Tesseract.mm"
In line 803 ( https://github.com/gali8/Tesseract-OCR-iOS/blob/master/TesseractOCR/G8Tesseract.mm#L803 ) I get this error (EXC_BAD_ACCESS (code=1 ...) which I belive is caused by the `pixels` being emptied if that makes any sense.
As a result, the OCR result comes back empty.

[2015-02-18 18:23] kevincon commented on #151
Can you provide the code (or at least the tesseract-related parts) you're using that triggers this error? What image are you trying to recognize on?

[2015-02-18 18:40] kevincon commented on #148
One thing you should know is that any time you set the image, we reset the `rect` member variable of `G8Tesseract` to be a rectangle with origin (0,0) and width and height to match the new image. However, we still actually call the upstream Tesseract `setRectangle` function even if you set the rectangle BEFORE setting the image, so that explains why it still works. But you might want to still set

[2015-02-18 20:13] alimoeeny commented on #151
Thanks @kevincon for your reply. I am running the provided example. I run it on iOS 8.1.2 using Xcode 6.2 .
I tap on the `touch for camera` take a photo and see the error "most of the time" which leads to empty results or I see gibberish.

[2015-02-18 21:10] yoiang commented on #151
I'm running into the same issue on device, it's an iPhone 5 with iOS 8.1.3

[2015-02-18 21:31] kevincon commented on #151
Thanks for reporting this issue, guys. It is related to issue #147 and an in-progress pull request #131. Basically, our internal `pixForImage` method is not taking into account image orientation, so it crashes unless the orientation is "up".

As a quick fix, you can replace the `imagePickerController:picker didFinishPickingMediaWithInfo:info` method in the Template Framework Project with the code

[2015-02-18 21:34] kevincon commented on #151
Duplicate of #130.

[2015-02-18 21:35] yoiang commented on #151
@kevincon Awesome, thanks for the follow up :)

[2015-02-18 21:45] kevincon commented on #123
I added another checkbox to the to-do list above for issue #130 since several users have been reporting problems with trying to use this library with images captured from the camera due to the orientation not being considered in our `pixForImage` method.

[2015-02-23 18:23] Jaykob opened #152 "Crash when using own language file"
When using a language file that I trained the test app crashes when calling recognize() with an `EXC_BAD_ACCESS`.
It crashes in the `SquishedDawg::edge_char_of()` function.
The same language file works on my desktop (Mac) test program...
Any ideas what can go wrong here?

Thanks for this great project! :-)

[2015-02-23 18:34] kevincon commented on #152
I'm not sure why it's crashing for you with a custom language file. I've also trained a custom language file and it works fine with this library. Are you using the same image to test on both iOS and your desktop? What version of Tesseract are you using on the desktop? It might be worth checking that it matches the version we're using in this iOS library (version 3.03 release candidate 1) and that

[2015-02-24 07:40] kevincon commented on #152
For reference, @Jaykob emailed me his trained data file and a sample image.

I copied lotto.traineddata to my /usr/local/share/tessdata folder and then ran `tesseract -l lotto lotto.jpg stdout` (where lotto.jpg is the image he sent me and lotto.traineddata is the language file he sent me). The result is:

`[1]    57507 segmentation fault  tesseract -l lotto lotto.jpg stdout`

Here's the output of

[2015-02-24 08:12] Jaykob commented on #152
Sorry for not writing back here.
I tested it on my Mac with the compiled googlecode trunk version from yesterday and it works fine...
Following is the output of `tesseract -v`:
[code]

Could you maybe give me a script or some hints on how to compile the trunk version into an iOS framework? Then I could test if I could compile my current version and see if it works. I tried training the language fi

[2015-02-24 08:35] kevincon commented on #152
Oh I see, I hadn't considered that the trunk version would actually be their development for version 3.04. I think that would explain the incompatibility; maybe version 3.04 has some changes that break backwards-compatibility for trained language files.

Since the trunk looks like it's their development branch, I wouldn't try to build it for an iOS framework yet since it's probably unstable. But i

[2015-02-24 12:51] Jaykob commented on #152
Brilliant! Got it working thanks to your great guide and build script :-)
Seems to me like a bug in 3.03-rc1 which they fixed in the meantime.
Thanks again for your help and the great work!

[2015-02-24 12:52] #152 closed

[2015-02-25 16:46] ws233 commented on #123
What if we add a few lines explaining how to write unit tests or change pod or travis CI configurations in contributing section?
For example, links to those official repo docs?

[2015-02-25 19:53] kevincon commented on #123
Sure that makes sense, feel free to add those lines/links if you have time.

Although I think a higher priority issue is resolving #130. @ws233, do you know what the current status of that issue and its pull request is?

[2015-02-26 06:50] ws233 commented on #123
As I remember, @BamX did implement a new algorithm to redraw an image in a correct orientation. But it fails, while some unit test is run.

[2015-03-01 18:17] hhimanshu opened #153 "Tesseract doesn't seem to recognize text"
Hey @dlinsin  @BamX and others

I am and to this library and pretty sure I must be doing wrong but not sure what?
I am trying to read following shopping receipt
![walmart_receipt](https://cloud.githubusercontent.com/assets/6589036/6432118/b2045dfe-bffb-11e4-9c40-bd27f95f6ad6.png)

and my code for that looks like

[code]

and the output that I see is

[code]

I don't know what that means.

Can you

[2015-03-01 20:44] hhimanshu commented on #153
I tried dumping more data and got more confused

[code]

and the output is

[code]
But this is no where giving me the data on the receipt I mentioned. Please help

[2015-03-02 00:55] kevincon commented on #153
I think you would have solved this problem yourself had you actually read the comments in the example code you copied. When in doubt, please please please read the comments! They're there for a reason!

Look at these two lines:

[code]

[code]

The first line is restricting the recognition to only recognize the numbers 0-9 because it's setting a whitelist. Any characters not in that whitelist will

[2015-03-02 00:59] kevincon commented on #153
In fact, if you further comment out the following line:

[code]

and re-run the app, you get this result which contains more of the text of the receipt:

[code]

This is because this line limits how long Tesseract can spend recognizing on the image, so by commenting it out, you let Tesseract take as long as it needs to.

[2015-03-03 02:44] hhimanshu commented on #153
Thanks a lot for your help, very much appreciated

[2015-03-03 02:44] #153 closed

[2015-03-16 09:55] lemak5 commented on #123
Hi,
Cocoapods version 0.36 has been released.
Do you think the new version of Tesseract will be available soon?
Thank you for Tesseract-OCR-iOS :)

[2015-03-16 10:44] kevincon commented on #123
@lemak5 yes! We'll release v4.0.0 soon now that Cocoa Pods 0.36 has been released. There's just one thing that needs to be taken care of before we do...issue #130. I have final exams this week, so I won't be able to look into it until next week, but @BamX if you have some time before then, could you try to finish pull request #131?

[2015-03-18 14:21] evermeer opened #154 "growing memory usage and then a crash."
I execute the code below every 2 seconds using a timer. Which each iteration the memory usage grows. Within 2 minutes my app will crash. When i remove the line :'tesseract.image = image' the memory does not grow. Initially I had this code without the autoreleasepool, setting tesseract to nil and clearCache. I also tried initiating the G8Tesseract object only once. None of those did help.

[2015-03-18 17:44] DAndGClark opened #155 "Crash in -[G8Tesseract recognizedBlocksByIteratorLevel:] --> tesseract::ResultIterator::AppendUTF8WordText"
I kick off a recognition operation, with completion block. In the completion block I'm calling recognizedBlocksByIteratorLevel: and it asserts from tesseract::ResultIterator::AppendUTF8WordText, saying
it_->word()->best_choice != NULL:Error:Assert failed:in file resultiterator.cpp, line 594
If I don't try to get the blocks, the text recognition works fine.  I've tried levels "Block", "Paragraph",

[2015-03-19 01:00] kevincon commented on #154
Hmm, what kinds of images are you passing to tesseract? Like what size, resolution, etc.?

Also this issue might be hard to reproduce just using your code/description above, so would it be possible for you to either send me a copy of your project or provide a little bit more of the code and some sample images so I can help you debug this?

[2015-03-19 01:07] kevincon commented on #155
Can you provide the code you're using when this error occurs?

What kinds of images are you trying to recognize (size, resolution, content, etc.)?

It'd also be great if you could provide a sample image I can use to try to reproduce your issue.

[2015-03-19 07:11] evermeer commented on #154
I will ask my client if I'm allowed to send you the project (it's not big, it's a passport OCR of the MRZ bar)
could you send me an email to edwin@mirabeau.nl The if it's OK, I can reply with the project attached.

I am getting the image from a GPUImage filter that tries to optimize the picture for the OCR. As you can see the size is 350*1700 The code that gets the picture is this:
            let

[2015-03-19 07:55] kevincon commented on #154
I sent you an email so you can send me the project if your client says it's okay.

If I get a copy of the project, the first thing I would do is use Instruments to profile the memory usage of the app. Have you tried doing that to see where the memory is being allocated/held to make sure the problem lies with Tesseract and not GPUImage or some other library?

Also can you let me know which version

[2015-03-19 15:48] DAndGClark commented on #155
Following is the code.  I figured out that if I call recognizedBlocksByIteratorLevel: earlier (as the code is currently configured), it works.  The commented out version in the completion block is what was giving the trouble and leading to the assert.
I was taking pictures with iPhone 6 camera of small blocks of black English text on white paper; the text in the image is easily recognized by Tesse

[2015-03-19 21:27] kevincon commented on #155
It looks like you're using `G8RecognitionOperation` improperly.

You're calling `operation.tesseract.recognize` yourself, but you're not supposed to do that. The whole point of using `G8RecognitionOperation` is that the `recognize` function is called on the internal `tesseract` member automatically asynchronously, and all you have to do is 1) setup the `tesseract` member of the operation as you ne

[2015-03-19 21:43] kevincon commented on #154
I built your project on my mid-2012 Macbook Pro, OSX 10.10.2 in Xcode 6.2 and ran it on my iPhone 6 running iOS 8.2, and these were my observations:

* Pressing "Start scan" and holding the camera up to the sample image you provided (displayed on my laptop's monitor) almost instantly transitioned to the next screen to show the user's information, so that all seemed to work well.
* On a different r

[2015-03-20 07:48] evermeer commented on #154
Weird... I have a late 2011 macbook pro and an iPhone 5 with iOS 8.2. And I'm using Xcode 6.2. When I get home I will test it from my iMac and iPhone 5s and 6. When I try the same as you and let it run for 2 minutes, the memory uses goes up steadilly from 70 to 150MB in 2 minutes.
But I do have to say that it takes a lot longer when you connect to instruments. On my laptop it took 14 minutes and 3

[2015-03-20 07:56] kevincon commented on #154
I'll take another look at it tomorrow and see if I can reproduce the memory spikes. I think the 40 MB memory usage for Tesseract is normal, but do you think maybe you're missing a `free` call or something for the image rotation?

Also, do you mind posting the screenshots you emailed me here on this thread? That way all of the information for this issue is in one place in case it can help someone e

[2015-03-20 08:10] evermeer commented on #154
Here are the 2 screenshots. I will try to eliminate the rotate memory bug today (it's from an external pod)
![screenshot](https://cloud.githubusercontent.com/assets/130834/6747936/41670594-cee0-11e4-972d-8c7022d426be.png)
![screenshot instruments](https://cloud.githubusercontent.com/assets/130834/6747935/416454ac-cee0-11e4-84b2-d8b72502cf00.png)

[2015-03-20 08:46] evermeer commented on #154
Apparently this was not a tesseract issue. this was caused by the image rotating code that I used. When I remove the rotation code the memory usage is steady on 50 to 55MB.

[2015-03-20 08:46] #154 closed

[2015-03-20 08:49] kevincon commented on #154
Glad you fixed it!

[2015-03-20 08:51] evermeer commented on #154
thanks for your time!

[2015-03-20 17:07] DAndGClark commented on #155
Sorry for the confusion, but the only reason I was trying the direct call to recognize was that when I let it happen properly via the operation queue it asserted when calling recognizedBlocksByIteratorLevel: from the completion block.  So I was intentionally using it improperly only for debugging purposes, because of the assert mentioned above.  I do understand that trying to do the recognition on

[2015-03-20 18:28] kevincon commented on #155
Oh okay, then can you provide the original/proper code that you believe should be working but instead crashes? I won't be able to help you unless I can reproduce everything you're experiencing; it'll help if I don't have to make any assumptions about the code you're running.

[2015-03-21 12:50] evermeer commented on #154
Just to be complete: After searching for suitable code for rotating an image I found out I could best use GPUImage for this (which was already part of my project) The code for rotating an UIImage is:
                var selectedFilter = GPUImageTransformFilter()
                selectedFilter.setInputRotation(kGPUImageRotateLeft, atIndex: 0)
                let image:UIImage = selectedFilter.image

[2015-03-24 17:33] DAndGClark commented on #155
Thank you for looking at this problem.
I took the picture of text with an iPhone6 camera, a close-up of 3 little lines of text (you can see in the console output below that the text was recognized properly). The same failure happens on every picture of text I've tried it on (including different devices), so it does not seem to be influenced by the content of the picture.
Here is the exact code tha

[2015-03-25 08:43] hzorr opened #156 "G8 prefixed classes"
Hi,
I have installed the Tesseract-OCR-iOS using CocoaPods as described in installation manual is a swift existing project,
But I can't see any G8 prefixed classes that are used in the example
provided on next page, My app works without G8 prefixed classes,
so what I'm doing wrong

[2015-03-25 08:59] gali8 commented on #156
Look at https://github.com/gali8/Tesseract-OCR-iOS/issues/141

[2015-03-25 12:36] #156 closed

[2015-03-25 19:25] johndyer opened #157 "Speed Expectations?"
Thanks so much for this library. It let me build a concept app super quickly. And I'm excited for the changes in 4.0.0 when it's done.

My only concern is that it takes anywhere from 10-30 seconds to process an entire page of text from an average book. Is this about what you're seeing too? Are there ways to optimize the speed? When I use something like CamScanner it only takes about a second, so I

[2015-03-26 02:03] kevincon commented on #157
I think the 10-30 seconds you're experiencing is about right if you're giving Tesseract a high-resolution full page of text, e.g. from a scanner or the iPhone's camera. I think preprocessing the image will give you much faster results. Check out our wiki page on preprocessing images for Tesseract: https://github.com/gali8/Tesseract-OCR-iOS/wiki/Tips-for-Improving-OCR-Results In particular, I think

[2015-03-26 02:09] kevincon commented on #155
Thanks for providing all of this info. I'm on vacation this week but I'll take a look at it early next week and try to implement a fix for you.

[2015-03-29 19:03] johndyer commented on #157
Thanks for the recommendations and tips. I'm not sure I'm seeing a lot of improvement with just GPUImageAdaptiveThresholdFilter, but the GPUImage library is great and gives me some good options.

Thanks again for all your hard work!

[2015-03-29 19:03] #157 closed

[2015-03-29 23:48] kevincon commented on #155
Okay I've got a solution for you. First, an explanation:

When you access the `orientation`, `deskewAngle`, `direction`, etc., we call `AnalyseLayout` on the internal Tesseract object. The [documentation for this function in the source code](https://code.google.com/p/tesseract-ocr/source/browse/api/baseapi.cpp?name=3.03-rc1#782) says:

[code]

This documentation is a little tricky for me to follow

[2015-03-29 23:52] kevincon commented on #157
No problem, feel free to reopen the issue if you would like some more help to try to improve your recognition speed. You can include the image you're trying to recognize on and I can try to think of some other methods for improving the speed.

[2015-03-31 19:09] carlosalban opened #159 "TesseractOC/TesseractOCR.h not found"
This is for my own existing project, the template works fine.

#import <TesseractOC/TesseractOCR.h>
Gives me the error: "'TesseractOC/TesseractOCR.h' file not found."

TesseractOCRiOS (3.4.0)
COCOAPODS: 0.36.1

I followed up the podfile instructions and see the following in terminal after I pod install/update:

Pre-downloading: `TesseractOCRiOS` from `https://github.com/gali8/Tesseract-OCR-iOS.git

[2015-03-31 19:14] gali8 commented on #159
Look at #141

[2015-03-31 19:20] kevincon commented on #159
@gali8 I don't think that's the issue here.

@carlosalban I wonder if you've just made a typo in importing the header. It's supposed to be:

[code]

In particular, notice that there is an "R" in the folder "TesseractOCR". In your import code you put "TesseractOC", without the "R".

Does that resolve the missing import for you?

[2015-03-31 19:25] carlosalban commented on #159
Wow. Well that's why you don't program at 3AM. Thanks!

[2015-03-31 19:28] #159 closed

[2015-04-01 12:43] fnxpt commented on #123
@kevincon any update about this?

[2015-04-01 17:57] DAndGClark commented on #155
Your suggestion works...Thank you.
I still have trouble getting the layout-based info prior to doing the recognize (which in my case means prior to adding the operation to the operation queue).
Do you have any advice about getting the text rectangles before doing the recognition? Is this something that should be quick, or does it end up doing all or most of the recognition just to get the rectangl

[2015-04-01 19:27] kevincon commented on #123
@fnxpt I'm working on the last issue that needs to be resolved before we release. I promise we'll release version 4.0.0 by the end of this week. :)

[2015-04-01 20:04] kevincon commented on #155
My understanding is that Tesseract does not make the text rectangles available until you call `recognize` and recognition is performed. Intuitively, that kind of makes sense that it wouldn't be able to tell you where the characters/symbols in an image are until it "recognized" what they are in the image.

I agree that if the user wants to use the page layout analysis values to rotate/adjust the im

[2015-04-03 00:59] #130 closed

[2015-04-03 00:59] #151 closed

[2015-04-03 01:27] #155 closed

[2015-04-03 02:25] kevincon commented on #123
Finally it's ready! @gali8, I've tagged the 4.0.0 release on Github; can you please submit it to CocoaPods?

[2015-04-03 07:42] gali8 commented on #123
Done!
Thank you @kevincon

[2015-04-03 07:44] kevincon commented on #123
Thanks, @gali8! Closing this issue now.

[2015-04-03 07:44] #123 closed

[2015-04-03 07:44] kevincon commented on #141
Fixed by #123.

[2015-04-03 07:44] #141 closed

[2015-04-03 07:44] kevincon commented on #111
Fixed by #123.

[2015-04-03 07:44] #111 closed

[2015-04-03 07:51] kevincon opened #161 "Update GitHub repo description"
@gali8 Can you update the description of the repo that appears at the top of https://github.com/gali8/Tesseract-OCR-iOS (not the README, the GitHub repo description)? I can't edit it, but it currently says:

`Tesseract OCR iOS is a Framework for iOS5+, compiled also for armv7s and arm64.`

But it should be updated to say:

`Tesseract OCR iOS is a Framework for iOS7+, compiled also for armv7s and a

[2015-04-03 07:56] #161 closed

[2015-04-03 15:57] hydex86 opened #162 "G8Tesseract.mm:pixForImage EXC_BAD_ACCESS"
I am trying to capture images with this framework and an iPhone 6 running iOS 8.2. When I try to scan the original image captured from UIImagePickerController:

[code]

I got an EXC_BAD_ACCESS in line:

[code]

On this class:

[code]

[2015-04-03 18:07] kevincon commented on #162
What version of the library are you using? What does your Podfile look like? Can you post the image that is causing the crash so I can try to reproduce it?

[2015-04-07 13:35] johnmillz commented on #162
Hi Kevin, I'm seeing the same issue with images captured via AVFoundation captureStillImageAsynchronouslyFromConnection using the rear camera. This method has a completion block that provides the current image buffer, I convert that into a UIImage like so:

                NSData * imageData = [AVCaptureStillImageOutput jpegStillImageNSDataRepresentation:imageDataSampleBuffer];
                UII

[2015-04-07 16:00] kevincon commented on #162
@johnmillz What version of the library are you using? What does your Podfile look like? The reason I ask is that this may be related to an issue that was resolved in the 4.0.0 release last week.

[2015-04-08 10:28] johnmillz commented on #162
@kevincon I had the source included from a couple of months ago. Updating to the latest pod resolved the issue for me, runs a treat now. Thanks!

[2015-04-08 16:07] kevincon commented on #162
I'm glad that resolved it for you. @hydex86 my hope is that updating to the latest version of the library will resolve your errors too. I'll close this issue with that in mind, but feel free to reopen it or start a new issue if you have any more problems.

[2015-04-08 16:07] #162 closed

[2015-04-08 22:36] hydex86 commented on #162
@kevincon I updated to latest version and everything works fine. Thank you very much!

[2015-04-10 11:33] nealsid opened #163 "Frequent SIGABRT in -[G8Tesseract characterChoices]"
Maybe 1/10 recognitions lead to a SIGABRT in the following line in G8Tesseract.mm:598:

    tesseract::ChoiceIterator choiceIterator(*resultIterator);

I'm only playing around with single character recognition.  resultIterator isn't NULL.  Feel free to send me requests for debugging information, or extra tracing statements you'd like added and reproduced, etc.

The training data was both a mix of

[2015-04-10 12:44] nealsid commented on #163
More info: Running on an iPhone 6, ios 8.2, instaleld via CocoaPods from HEAD (not a released version), but it's version 4.0.0

[2015-04-20 17:57] ws233 opened #166 "Wrong test"
it(@"Should recognize regardless of orientation") test recognizes an original image instead of the rotated one.

Proof is here: https://coveralls.io/builds/2256888/source?filename=TesseractOCR%2FUIImage%2BG8FixOrientation.m
The code for rotated images is never run.

[2015-04-20 18:58] ws233 commented on #166
Fix is here: https://github.com/ws233/Tesseract-OCR-iOS/commit/ae90c2ce87802f35aa220d6ff16dc55ec9ee6ffb
Proof is here: https://coveralls.io/builds/2380273/source?filename=TesseractOCR%2FUIImage%2BG8FixOrientation.m

[2015-04-21 04:36] #166 closed

[2015-04-21 04:57] kevincon commented on #163
Sorry for the delay in getting back to you, it seems a lot of us were mysteriously unsubscribed from notifications for the repo. :(

Can you save one of the images that causes the crash? If you can, can you reproduce the crash by reloading that image and trying to recognize on it again? If so, can you try installing and running Tesseract on your desktop computer with the same versions of Tesseract

[2015-04-22 09:46] kevincon opened #170 "Need to refactor initializers"
From the discussion in #158, we've decided that we need to refactor the initializers in the following way:

Remove `copyFilesFromResources` from the designated initializer and refactor the code so that the copying of the "tessdata" folder in the app bundle occurs if a folder (any location, "Caches" or otherwise) is specified. If the developer does not have a "tessdata" folder in the app bundle, th

[2015-04-22 10:14] ws233 commented on #85
#169 is the last commit I could propose for test coverage.
Does anybody knows how to cover those @try @catch blocks all over the code?

[2015-04-23 02:34] kevincon commented on #85
I'm not sure about how to hit them, but it might be possible to exclude those lines if we were able to use lcov instead of gcov: http://stackoverflow.com/questions/3555083/how-do-i-tell-gcov-to-ignore-un-hittable-lines-of-c-code

This looks like a promising project that we could try, and it uses lcov behind-the-scenes and hooks into Coveralls nicely: https://github.com/venmo/slather I'm pretty swa

[2015-04-23 13:29] greenwind1202 opened #172 "How to get log file and export output to pdf file?"
I'm trying to create demo iOS app using Tesseract-OCR-iOS library. I want to get log file and write output to pdf file. After investigating, I set some parameter into config file as below:
debug_file                         tesseract.log
tessedit_create_pdf          T

But I can not find log file and *.pdf file. Where am I wrong?

Thanks and best regards.

[2015-04-23 13:44] ws233 commented on #172
I might be wrong, but an issue might occur due to the forbidden write permissions in the app root directory. Can you prove that tess doesn't try to create those files in the current folder? Can you also try any absolute full paths to any writable folders?

[2015-04-23 13:51] ws233 commented on #172
Exactly! I did try an absolute path to Documents folder, and a log file has appeared in it.

[2015-04-23 13:54] greenwind1202 commented on #172
Thanks for your quick reply but can you get more detail? How to set absolute path? Like as below?
debug_file absolutepath

[2015-04-23 14:14] ws233 commented on #172
I put the following line to the config file:
debug_file /Users/yourUser/Documents/tesseract.log
Also I did try the code in simulator.
The log is not empty. But you should at least initialize a tesseract and perhaps recognize any image.

I guess that 'debug_file' is a init time variable. So it's possible to set it only from the config file, or config dictionary while call to init... Don't use 'setV

[2015-04-24 03:17] greenwind1202 commented on #172
Thank you so much. I can get log file without problem. I have another question about generate output to pdf file. Currently, does library support to do this?

[2015-04-24 06:40] ws233 commented on #172
Yes, it is. But as I've already told the default output for pdf is the executable folder, which is write protected. You should try to change output dir, if it's possible with some config variables. If it's not, you might take a look on upstream tesseract sources. TessPDFRenderer could be a starting point for your investigations. If you succeed pls don't forget to submit a pull request, so we all a

[2015-04-24 07:21] greenwind1202 commented on #172
Yes.. I got it. That's exactly what I thought. :).   Again, thank you for your support.

[2015-04-24 08:11] ws233 commented on #172
You're welcome. Feel free to ask any questions. We'll try to provide with so many support as we can.

[2015-04-25 09:44] ws233 opened #173 "Build script doesn't support building leptonica with zlib, libpng, jpeg, giflib, and libtiff support"
In order to implement #172 feature, I would like to rebuild leptonica with all image format support.
I do install autoconf, automake, m4.
I also unpacked leptonica to 'leptonica-1.71' subfolder and tesseract to 'tesseract-3.03' subfolder of a 'TesseractOCR' folder.
Than I run './build_dependencies.sh' from 'TesseractOCR' folder.
During build I receive 'configure: error: leptonica library missing'

[2015-04-25 09:52] ws233 commented on #173
Ah! That was my fault! As I've already mentioned I try to build leptonic with image format support, so I did remove the following flags from the --without-zlib --without-libpng --without-jpeg --without-giflib --without-libtiff build script. Without those flags build fails.
@kevincon, do you know how to add those dependent libraries to the build?

[2015-04-26 01:15] kevincon commented on #173
Check out http://www.leptonica.com/source/README.html, the section marked "I/O libraries leptonica is dependent on". It lists the packages you need (at least what they're called on apt-get). Try installing them with homebrew and then editing either the build_dependencies.sh script or the Leptonica Makefile templates directly so you can specify the location of the dependency library files and the d

[2015-04-26 05:35] ws233 commented on #173
Yup. That's quiet difficult. Perhaps, I should search for a different way.

[2015-05-05 06:09] hnzlk2014 opened #174 "A single character is not supported？"
Can't analyse layout. Make sure 'osd.traineddata' available in 'tessdata'.
Empty page!!
Empty page!!
![image](https://cloud.githubusercontent.com/assets/6149516/7467667/40187cbc-f330-11e4-80aa-ffdccd4c54b0.png)
![image](https://cloud.githubusercontent.com/assets/6149516/7467670/4d7a87a6-f330-11e4-93bf-f983852173c3.png)

[2015-05-05 17:37] ws233 commented on #174
Could you provide your code and any tesseract output, if exists, so we could investigate this issue deeply?

[2015-05-05 18:10] gali8 commented on #174
Have you seen the tessedit_pageseg_mode (kG8ParamTesseditPagesegMode) parameter?
https://github.com/gali8/Tesseract-OCR-iOS/blob/master/TesseractOCR/G8TesseractParameters.m
http://www.sk-spell.sk.cx/tesseract-ocr-parameters-in-302-version

[2015-05-06 18:13] ws233 commented on #170
Any updates on this?

[2015-05-07 01:05] hnzlk2014 commented on #174
I use the demo project，Not output. Or set some parameters?

[2015-05-07 02:47] ws233 commented on #174
I meant console output of tesseract.

[2015-05-07 03:32] hnzlk2014 commented on #174
![image](https://cloud.githubusercontent.com/assets/6149516/7508094/93c2068a-f4ac-11e4-9cab-7fcbdee4e1a6.png)
![image](https://cloud.githubusercontent.com/assets/6149516/7508103/be54a9c0-f4ac-11e4-98af-5e62bafa8131.png)

[2015-05-08 04:22] nealsid commented on #163
Hey Kevin, thanks for the info (and my turn to apologize for the delay, I've been pretty heads down on another project and haven't even gone to github recently).  I will try what you say and write back, but it may be a week or so.

[2015-05-08 15:00] yoiang commented on #127
Coincidentally I've made a simple PromiseKit extension for Tesseract OCR iOS!

When I have time to I'd be happy to add it as a subspec, in the meantime I've put it up as a gist. It's in Swift, apologies of that complicates things, let me know if it should be rewritten:
[Gist](https://gist.github.com/yoiang/953f8005c624fb5a6c51)

Unfortunately I'm unclear how to get extended `recognize()` failure i

[2015-05-08 15:08] yoiang opened #175 "Xcode 6.3 Warning: [G8RecognitionOperation completionBlock] deprecated property"
Xcode 6.3 warns about overriding the property and that it will still be available.

--verbose
/Users/ian/Documents/Socratic/Socratic/Pods/TesseractOCRiOS/TesseractOCR/G8RecognitionOperation.h:62:25: Auto property synthesis will not synthesize property 'completionBlock'; it will be implemented by its superclass, use @dynamic to acknowledge intention

[2015-05-08 15:10] yoiang commented on #175
Looking through the code is this so that consumers of the library do not use `completionBlock` directly and instead use `recognitionCompleteBlock`? Why does `recognitionCompleteBlock` exist in leu of `completionBlock`?

[2015-05-08 15:16] yoiang opened #176 "Cocoapods 0.37.0 + Xcode 6.3 Warning: Multiple build commands for .../config_auto.h"
Xcode is warning that config_auto.h is present twice in the Headers Build Phase and unfortunately cannot decide what to do with the fact that one config_auto.h comes from Tesseract and the other from Leptonica. Looking over the extended warning output (below) it becomes clear that both config_auto.h files end up at the same location when built, one presumably overwriting the other.

--verbose
warn

[2015-05-08 17:13] ws233 commented on #175
as I remember completionBlock is a super property. And it was redeclared in the child class as well. A bit later it had become deprecated. So the way to solve an issue is simply remove its declaration from the child class, I guess.

[2015-05-11 11:07] fnxpt opened #177 "Tesseract Initialization"
Hi,

I notice that Tesseract only initialises after the first recognise, this could take a while in some older devices.
Is it possible to force tesseract to initialize after allocation it?
I want to declare tesseract when my app starts and reuse it in some view controllers.

Best Regards,
fnxpt

[2015-05-13 09:00] Ithoughts commented on #55
I go through the same error  'Please make sure the TESSDATA_PREFIX environment variable is set to the parent directory of your "tessdata" directory.'  When I try to change the eng.traineddata to chi_sim.traineddata.What the mistake I have made?

[2015-05-13 16:56] ws233 commented on #55
@Ithoughts, That means, that tesseract can not see you traineddata files.
So the reasons could be:
1. You put them in a wrong folder. The corret place to put is explained above.
2. You missed some files. There could be more than one file necessary for you language.
3. You chose wrong version of traineddata files. The current tesseract core version is 3.0.x. That means you should try the same versi

[2015-05-14 03:38] Ithoughts commented on #55
@ws233  I have put them in a right folder and chose the right version of traineddata files.As you concerned,'You missed some files. There could be more than one file necessary for you language.',I wonder what files I have missed,what files are necessary?How to generate the indeed files?Thanks!

[2015-05-14 04:13] ws233 commented on #55
There is a very detailed page about training tesseract: https://code.google.com/p/tesseract-ocr/wiki/TrainingTesseract3. But before you jump into this, could you provide your traineddata files, specify the path, where you put them and show a code snippet, which you use to run tesseract?

[2015-05-14 08:11] Ithoughts commented on #55
@ws233 I just put the chi_sim.traineddata into the tessdata file,but its recognition is horrible.how can I improve the recognition of Chinese?What can I do ?Please give me a detailed tip,thanks a lot!

[2015-05-18 08:23] #174 closed

[2015-05-22 06:22] Fibinacci opened #178 "Cordova plugin add?"
How can add this framework add cordova hybrid project? (As the plugin)

[2015-05-22 07:40] nikitasatnalika opened #179 "Tessearct is not recognising the text."
i had been following this answer on github https://github.com/gali8/Tesseract-OCR-iOS/issues/153

I followed the lines of code mentioned there but unfortunately its not working for me....I would be grateful if you help me.

my codes are quite similar to the one mentioned though am sending my code and image

G8Tesseract *tesseract = [[G8Tesseract alloc] initWithLanguage:@"eng"];
    tesseract.deleg

[2015-05-22 07:43] gali8 commented on #179
https://github.com/gali8/Tesseract-OCR-iOS/wiki/Installation => Importing the tessdata folder

[2015-05-22 07:49] nikitasatnalika commented on #179
i have imported the tessdata folder still giving the error. but i dont have the folder icon blue.

[2015-05-22 07:54] gali8 commented on #179
"Note how the tessdata folder has a blue icon, indicating it was imported as a referenced folder instead of a symbolic group."

When you drag&drop the folder, select "SYMBOLIC GROUP" instead of "referenced folder".

[2015-05-22 09:11] nikitasatnalika commented on #179
Thank you..it worked :)

[2015-05-22 09:14] #179 closed

[2015-05-22 19:35] kevincon commented on #178
I think this is more of a question for the Cordova folks since this library was not built with that use case in mind, so can you ask them? According to their website (https://cordova.apache.org/#mailing-list) there is a developer mailing list you can join to ask questions, or you can post a question on Stack Overflow using the cordova tag.

[2015-05-27 07:42] kaikaiwei opened #180 "XCTest.framework not found"
dyld: Library not loaded: @rpath/XCTest.framework/XCTest
  Referenced from: /private/var/mobile/Containers/Bundle/Application/FE9EF74B-DDAD-4448-B05B-E1A5F12EB0F6/chrnword.app/chrnword
  Reason: image not found

when I run a demo use cocoapod.
here is the profile>

target 'chrnword' do
	pod 'AFNetworking', '~> 2.5.4'
	pod 'TesseractOCRiOS', '~> 4.0.0'
	pod 'Kiwi', '~> 2.3.1'

end

I deleted the Te

[2015-05-27 09:03] #180 closed

[2015-06-02 20:57] Xyo opened #181 "Bad return code from configEngine on using new .traineddata file"
I get EXC_BAD_ACCESS from configEngine when using a new .traineddata file instead of the one included in the english pack. The new trained data file works just fine on PC. Any guidance on this?

[2015-06-03 02:49] kevincon commented on #181
What version of Tesseract are you running on your PC (What's the output of `tesseract -v`?)? You may be having the same issue this user had (read to the end to see his solution): https://github.com/gali8/Tesseract-OCR-iOS/issues/152

[2015-06-03 03:07] Xyo commented on #181
I'm using Tesseract 3.02.

[2015-06-03 03:18] kevincon commented on #181
This iOS library uses Tesseract 3.03-rc1 (see the README). What happens if you try your custom traineddata file after upgrading to the 3.03-rc1 version of Tesseract on your PC? If that still doesn't work, how about if you recreate your custom traineddata file using the 3.03-rc1 version of Tesseract? The two versions may have some incompatibilities.

The other issue I linked to above (#152) resolve

[2015-06-04 21:35] Xyo commented on #181
I tried it out with a new custom traineddata file created with the 3.03-rc1 version of Tesseract but I get the same error message. I haven't gotten Tesseract 3.04 to compile for me yet so I can't try that out yet.

[2015-06-11 13:54] Xyo commented on #181
I've tested it out with custom traineddata files created with 3.02, 3.03, and 3.04. All will work with tesseract engine only. Using the cube or combined cube + engine will give the bad access error while running.

[2015-06-12 10:56] gbmgee opened #182 "I am getting error building it for distribution"
Undefined symbols for architecture arm64:
  "_UIGetScreenImage", referenced from:
      ___25-[AppDelegate handleCall]_block_invoke in AppDelegate.o
ld: symbol(s) not found for architecture arm64
clang: error: linker command failed with exit code 1 (use -v to see invocation)

when i run it in iPhone 4 its working fine and i am trying to build for the distribution profile i am getting this error.

[2015-06-12 15:35] BamX commented on #182
I don't think that this problem related to Tesseract lib.
Look at this: http://stackoverflow.com/questions/21640875/is-uigetscreenimage-function-removed-in-ios7

[2015-06-13 02:48] kevincon commented on #181
Ah yes that's a known issue. Long story short, we discovered that cube only works with the eng.traineddata file provided by the upstream Tesseract repository. It doesn't seem to work with other trained data files, both Tesseract-provided and user-created. See: https://github.com/gali8/Tesseract-OCR-iOS/issues/140

[2015-06-16 05:53] vivekseth opened #183 "Typo: G8OrientationPareRight => G8OrientationPageRight"
https://github.com/gali8/Tesseract-OCR-iOS/blob/331afd99f9950367bcb0aa2b4ea29a4c9b3ff5e3/TesseractOCR/G8Constants.h#L137

[2015-06-16 06:11] kevincon commented on #183
Nice catch! Can you send us a pull request to fix it so you get the credit?

[2015-06-16 07:28] vivekseth commented on #183
Thanks, here you go https://github.com/gali8/Tesseract-OCR-iOS/pull/184 :)

[2015-06-17 02:22] kevincon commented on #183
Thanks!

[2015-06-17 02:22] #183 closed

[2015-06-18 23:36] ws233 commented on #173
Finally, I've succeed with the zlib without all the rest libraries.

[2015-06-18 23:39] ws233 commented on #172
Finally, I've written a code, which generates pdf NSData, which could be saved to Documents folder, for example. Inspite of tesseract generates an output, it's corrupted.
So I'm trying to understand what's wrong with my code.

[2015-06-19 00:05] tomjtobin opened #185 "using -weak_library cannot be used with -bitcode_bundle (ENABLE_BITCODE=YES), which is default on in Xcode 7"
With the Xcode 7, the bitcode options are turned on by default (and mandatory for Watch binaries). Xcode notes that -weak_library can't be used with -bitcode_bundle (link fails).

To get around it, I removed the
-weak_library /usr/lib/libstdc++.6.0.9.dylib
from the LD flags, and made sure it was using the libstdc++ library in the "c standard library" selection.

The same issue is targeted here: ht

[2015-06-19 06:29] ws233 commented on #173
@kevincon, I've found this https://github.com/ashtons/libtiff-ios.
Those scripts are able to compile libpng, libjpg and libtiff for 5 architectures.
Only the issue, which I have is how to link them with leptonica.
Can you help me with this and modify the build script so it can link with all of those libraries?
I need them for the #172 feature, while generating PDF output.
Thx in advance!

[2015-06-19 18:44] ws233 commented on #172
I've succeeded with this and with PDF output. I'll upload it soon.

[2015-06-19 18:45] ws233 commented on #173
I've succeeded with this and with PDF output. I'll upload it soon.

[2015-06-19 22:42] ws233 commented on #172
Pls, refer to #186.

The following things should be mentioned regarding the patch:
* Leptonica has been built with libz, libpng, libjpeg and liftiff.
* Building script has been changed for that.
https://github.com/ashtons/libtiff-ios repository is used to build dependent libraries. The whole repository should be downloaded into 'TesseractOCR/libtiff-ios-master' folder. And all 3 .sh scripts should

[2015-06-19 22:47] ws233 commented on #173
Pls, refer to #186.

[2015-06-19 23:23] ws233 commented on #185
Does you approach also work in the old xCode?
In such case can you provide a patch for us?

[2015-06-20 05:33] ws233 commented on #178
@Fibinacci, have you found the answer?
Can you share your experience with us, so the opensource comunity could use your experience?

[2015-06-20 06:09] ws233 commented on #185
@tomjtobin , I've downloaded xCode 7 and couldn't reproduce the issue, you are talking about, on a test or example project. Could you explain more detailed, which test or example projects settings I should change to reproduce the link error?

[2015-06-20 08:04] kevincon commented on #182
@gbmgee did @BamX's suggestion help you? If so, can you close this issue?

[2015-06-20 08:06] kevincon commented on #181
I believe this is a duplicate of #140, so I'm closing it now, but feel free to reopen it or open a new issue if you need more help.

[2015-06-20 08:06] #181 closed

[2015-06-20 08:07] #175 closed

[2015-06-20 08:25] tomjtobin commented on #185
Try to archive it.
I created a new project, single view application.
I attached the TesseractOCRiOS pod, v 4.0.0
I reopened the workspace, and changed the view controller to match the sample code at
https://github.com/gali8/Tesseract-OCR-iOS/wiki/Using-Tesseract-OCR-iOS
Then it can build and run. I was sad, because there was no problem.
Now, try to archive with the iOS device as the target. That f

[2015-06-20 20:54] ws233 commented on #185
I confirm there are a lot of warning while building both test and example project for device in xCode 7.
@tomjtobin, can you send a pull request to this repo or my own one, which is https://github.com/ws233/Tesseract-OCR-iOS, so I could test your fix?

[2015-06-21 01:32] ws233 commented on #127
@yoiang, first of all, let me thank you a lot for your participation!

Second,

By default the upstream tesseract prints the error logs to the stderr. So as I know it's possible to open an input stream from stderr and read logs from there. It's gonna be a good feature to have it in our wrapper, since so far there is no function to return the error explanation from tesseract. But we should think tw

[2015-06-21 04:54] kevincon commented on #127
I'm not sure I understand why the promise kit subspec needs extended `recognize()` failure information, but anyway I don't think we need to add any mechanism to get error messages because we can tell if `recognize()` failed (as in the gist when you check the return value of that function), and the developer can use the messages that Tesseract prints to stderr (which I believe show up in Xcode's lo

[2015-06-21 05:03] ws233 commented on #127
Yup, I forgot that an app may have other 3rd party libraries, which could print to stderr. In such case we definetely cannot parse such logs. So just forget about my idea. That's not a universal case.

[2015-06-21 05:28] ws233 commented on #177
I've made a few studies about the question and found out the following:

* Only the think, which I've found so far and which can be initialed on a first run is dawg cache. We had a similar topic here, where it was requested to add a method, which clears the data loaded in a global memory.
* I've wrote a class function, which allows to load that cache on a request.
* It takes about 0.2s on my iPhon

[2015-06-22 01:22] iori57 commented on #128
@gustafnilklint using the updated command generates a framework that failed to be built with errors such as "Undefined symbols for architecture x86_64" when I select iPhone 6 simulator and "Undefined symbols for architecture i386" when I select iPhone 5 and below simulators.

[2015-06-23 12:03] fnxpt commented on #177
When I was implementing Tesseract I notice that on iphone 4 it took more or less 19s to initialise, but we removed this function on iphone 4, because the photos didn't have the quality needed to recognise the text we needed

[2015-06-23 17:42] yoiang commented on #127
Hey y'all, thanks for the responses!

Regarding error response from the library:
PromiseKit or not, what I was describing was when building a product that includes the library a programatic interface for the rest of an application to respond to different error situations in the library. I don't have enough insight yet into fine tuning Tesseract to know whether all errors in operating Tesseract sho

[2015-06-25 10:28] Fibinacci commented on #178
Yes I wrote a plugin now. Basically, it reads image file and sending results back. The first version of the framework(gali8) I used did not support iOS6. Then I try to use the latest version, I had a problem while integrating into the plugin, but I figured the end.
I have some minor problems. For example, I do not use the page segmentation feature. When I try to add any kind of, I do not get the r

[2015-06-26 07:23] tuluigi commented on #142
i have the same problem as @ws233  ； can @kevincon  tell me how to fix the problem ! thanks .

[2015-06-27 22:35] kevincon commented on #142
@tuluigi Can you open a new issue and describe your specific problem, mentioning what error message you are experiencing?

[2015-06-28 18:38] ws233 commented on #140
I've created an issue for upstream tesseract here:
https://code.google.com/p/tesseract-ocr/issues/detail?id=1492&thanks=1492&ts=1435516671
Let's follow it.

[2015-06-28 21:12] rmtheis commented on #140
Good catch. You should consider opening this issue on the new Github issues page for Tesseract: https://github.com/tesseract-ocr/tesseract/issues

[2015-06-28 21:40] kevincon commented on #140
That's great that they're on GitHub now. @ws233 since you're the main stakeholder in this issue, can you recreate it there?

[2015-06-29 01:48] tuluigi opened #188 "link error with pod install :" pod 'TesseractOCRiOS', '4.0.0'""
i install the class use " pod 'TesseractOCRiOS', '4.0.0"; when i build my project on my iphone6  ,it has errors:
![1ca01804-a6db-11e4-950c-b5017da24e93](https://cloud.githubusercontent.com/assets/5189595/8399567/96fe6ad0-1e43-11e5-8c99-f11e012433ef.png); this error is architure error; i think may be this is the class's bug. any suggestions  @kevincon ?

[2015-06-29 01:52] tuluigi commented on #188
Later, I try to use another method: i install the class with TesseractOCR.framework; but when i build my project ,it has other errors; this is may be the c++ link library error;

[2015-06-29 01:55] tuluigi commented on #188
Later, I try to use another method: i install the class with TesseractOCR.framework; but when i build my project ,it has other errors; this is may be the c++ link library error;

![qq20150629-1 2x](https://cloud.githubusercontent.com/assets/5189595/8399630/b6ba115c-1e44-11e5-9cd1-d7733bf413e1.png)
can @kevincon  give me some advice?

[2015-06-29 21:39] kevincon commented on #188
I can't tell what the problem is from your snippets? Would you be willing to email me your Xcode project so I can try to debug it myself? If so, email it to me at kcon AT stanford DOT edu.

[2015-07-01 23:51] #172 closed

[2015-07-01 23:51] #173 closed

[2015-07-02 02:01] tuluigi commented on #188
hi
   i have fix this bug, this is my cocospod's problem ; thank you very much @kevincon .

[2015-07-02 03:20] #188 closed

[2015-07-02 22:33] losh11 opened #193 "Can you use alternative languages from Tesseract?"
I had read here before that using custom training files for other languages fails.
Not too sure.

[2015-07-03 02:57] kevincon opened #194 "Fix coveralls integration with GitHub"
@gali8, Coveralls no longer comments on new pull requests to report code coverage changes for this repo. Can you check the settings at https://coveralls.io/r/gali8/Tesseract-OCR-iOS? I can't see the settings since I'm not the repo owner.

This related GitHub issue shows that there may just be a checkbox that needs to be checked on the Coveralls settings page: https://github.com/lemurheavy/coverall

[2015-07-03 03:10] kevincon commented on #193
Although there have been several reports from users that using custom language files doesn't work, I think generally it's because either they trained the file with a mismatched version of Tesseract from this repo (this repo uses Tesseract 3.03-rc1) or they're trying to use a different engine like cube that is known not to work with user-created language files.

I have been successful in creating a

[2015-07-03 06:43] gali8 commented on #194
Try now

[2015-07-03 07:06] ws233 commented on #194
@gali8, That's just from [coverals.io] (https://coveralls.io/builds/2966202/source?filename=TesseractOCR%2FG8RecognitionOperation.m):

[2015-07-03 07:16] gali8 commented on #194
Please try again, it works for me.

[2015-07-03 08:12] ws233 commented on #194
Now it works for me too.
Thx!

[2015-07-04 07:12] #170 closed

[2015-07-08 06:37] ws233 commented on #177
@kevincon, so what's your oppinion on this method? Do we need it in our lib?
If so, I'll add a few unit tests and a description.
Otherwise, I think it can be closed.

[2015-07-08 09:32] dawanjiali commented on #193
Hello Kevin,

Is the trained data files generated for 3.02 work for this version of Tesseract? I tried Arabic and Turkish files for 3.02 downloaded from Google code and they do not work! Any help would be appreciated

Dawan

[2015-07-09 02:42] #85 closed

[2015-07-09 02:44] kevincon commented on #193
@dawanjiali Can you open a separate issue for your question and provide the specific error message you're getting? Also double-check that your trained data files work with Tesseract 3.03-rc1 on your desktop. If it doesn't work with that version on desktop, it won't work with this library either.

[2015-07-09 03:00] kevincon commented on #177
@ws233 I'm curious what the speedup is on the iPhone 4, because it sounds like @fnxpt is experiencing quite a long time to initialize Tesseract (19 seconds), but the numbers you reported are for the iPhone 5S which I don't think suffers from the same long initialization time as the iPhone 4.

Can you provide instructions and/or sample code for @fnxpt to try out your dawg cache loading feature? If

[2015-07-09 05:52] ws233 commented on #177
The instructions are quiet easy. You just log the time befor and after calling tesseract 'recognize' function. Twice. Since you need to compare the first 'recognize' function run with any further.
Than you just run the function from the patch above before the first 'recognize' call and than ensure that both calls run equal time. You may also log run time for the function from the patch.

But I bel

[2015-07-09 07:32] vudangthinh opened #195 "Can use multilanguage for Tesseract"
I need to use Tesseract for recognize English and Japanese text in the same document. How can i set English and Japanese for Tesserect

[2015-07-09 07:43] #195 closed

[2015-07-09 13:39] fnxpt commented on #177
Hi guys,

Tomorrow I will do these tests (I don't have my iphone 4 with me at the moment).

Thanks

[2015-07-09 18:34] icecoffin opened #196 "Memory is not being freed"
Hi,
I have some code for OCR with custom settings, and after recognition the memory usage is about 100 MB which is not appropriate for me. But it seems like even this simple example doesn't work as needed:
[code]
Before running this, my app uses 10.4 MB of memory. During the process of recognition, it uses about 97 MB, but after the recognition is done, the memory usage stays at 47 MB. I'm okay wi

[2015-07-09 19:33] ws233 commented on #196
@icecoffin, it seems that you are trying to call 'G8Tesseract.clearCache()' while there is alive instance of tesseract in the memory. In such case no tess caches can be deallocated, cause they are retained by the tesseract instance. Try to call 'clearCache' after all the tesseract instances are completely deallocated. For example, with a delay as following:

        dispatch_after(dispatch_time(DI

[2015-07-09 19:43] icecoffin commented on #196
@ws233, thank you for your reply. Your advice did help, but the usage now looks like:
Before recognition - 10 MB
During recognition - 97 MB
After recognition - 49 MB
After clearing cache - 30 MB
And the situation is even worse when I test on my real scenario (it's 150 MB during recognition and 80 MB after clearing cache). So it seems like some part is still not deallocated.

[2015-07-09 20:05] ws233 commented on #196
@icecoffin, we have got a lot of similar questions from different people about memory leaks in tesseract. You may search this repo by 'memory' keyword. In the most cases the issue was somewhere outside the tesseract. That doesn't mean the tesseract doesn't have memory leaks, but it seems so.
So far I cannot say for sure, why you don't get the same footprint after the recognition as it was before.

[2015-07-09 20:47] ws233 commented on #196
So far there is a known issue with the rotated images. In a few words, if the imageOrientation is left or right we have to redraw it before sending it to the tesseract. So in such case, we have 3 image copies at the same time in the memory. 1 is the original, 2nd is a rotated image, 3rd is an image in a special Pix format tesseract operate with. I have an idea to skip the second image and generate

[2015-07-10 07:23] soso2247 opened #197 "signal SIGABRT at G8Tesseract.mm (returnCode = _tesseract->Recognize(_monitor);)"
hi

I installed tesseract-OCR 4.0.0 to my Xcode 6(iOS8) using cocoa pods.
and i have some problem with recognizing text
signal SIGABRT error occurred when the app runs `[tesseract recognize];` .

heres code that i used to reorganize text.

`    G8Tesseract* tesseract = [[G8Tesseract alloc] initWithLanguage:@"eng"];

    tesseract.charWhitelist = @"0123456789";

    tesseract.image = [notprocessed

[2015-07-10 16:09] kevincon commented on #197
Can you post the image you've loaded into the variable `notprocessed`? Can you also show the code that initializes `notprocessed`?

[2015-07-10 16:13] fnxpt commented on #177
I guys I performed a few tests with an iPhone 4 and an iPhone 6, with and without the patch.
All the tests were made with a black screen in order to have the same test environment
  iPhone 4 without patch:
    1st run: 423 milliseconds
    2nd run: 378 milliseconds
    3rd run: 332 milliseconds
    4rd run: 340 milliseconds
    5rd run: 335 milliseconds
  iPhone 4  with patch but without loadDawgC

[2015-07-10 16:16] kevincon commented on #177
@fnxpt I don't understand, you mentioned a 19 second initialization time but all of the numbers you reported above are less than 1 second. Were you testing initialization time? I thought initialization time was what we were interested in because you were experiencing such a long (19 seconds) initialization time on iPhone 4?

[2015-07-10 16:19] fnxpt commented on #177
I performed those tests with the camera pointing to a table so the image is
always black.
If you have data it seems that it takes more time to load and recognize

On Friday, July 10, 2015, Kevin Conley <notifications@github.com> wrote:

--
Sent from a mobile device

[2015-07-10 16:31] kevincon commented on #177
So shouldn't that be what you test? The purpose of your test is to see if @ws233's patch significantly alleviates the 19 second initialization time you reported on the iPhone 4, which I believe is still the point of this GitHub issue, right? If the patch does significantly alleviate the 19 second initialization time, then that will be a good justification for merging the patch into the library; ot

[2015-07-10 16:56] fnxpt commented on #177
I made a few more tests, pointing to another place with more data. I was not able to reproduce the 19 second initialisation

iPhone 4 without patch:
    1st run: 3.516 seconds
    2nd run: 3.304 seconds
    3rd run: 2.968 seconds
  iPhone 4  with patch but without loadDawgCacheFromTessdataPath:forLanguages::
    1st run: 4.38 seconds
    2nd run: 3.806 seconds
    3rd run: 3.842 seconds
  iPhone 4

[2015-07-10 17:44] ws233 commented on #177
I don't believe initialization depends on the image that tesseract is recognizing.
Initialization stands for loading and preparing all the necessary data like language files, vocabularies and so on. That's actually why the first run takes longer than others. So I believe the initialization time may take too long, if we try to initialize tesseract with a huge number of different files. So the follo

[2015-07-11 07:18] soso2247 commented on #197
image loaded into `notprocessed` is taken with AVfoundation camera
and this error will also happens with any kinds of image.

code that initializes `notprocessed`:

`UIImage *notprocessed = self.imageView.image;`

[2015-07-11 07:41] ws233 commented on #197
@soso2247, try your snippet without g8_blackAndWhite. Just send the original image to the tesseract.

[2015-07-11 19:22] kevincon commented on #197
@soso2247: And if @ws233's suggestion doesn't work, can you upload your Xcode project to a place like Dropbox or something and share a link with us (or email it to me at kcon AT stanford DOT edu) so we can help you diagnose this error further by looking at the code ourselves?

[2015-07-12 13:07] soso2247 commented on #197
@ws233 and @kevincon thanks that worked for me. but i want "black&white" feature for this app so any other ways to use black&white?

[2015-07-13 03:15] kevincon commented on #197
@soso2247 Can you try to save one of the images that doesn't work with `g8_blackAndWhite` and share it with us? We should try to fix the problem with the `g8_blackAndWhite` function if we can.

But to answer your question, you can also try `g8_grayScale` (it's a little different but maybe it will still help improve recognition), or you can follow some of the guides in our Wiki for alternative meth

[2015-07-13 04:09] soso2247 commented on #197
`"Can you try to save one of the images that doesn't work with g8_blackAndWhite and share it with us?"`
Actually this issue happened with any kinds of image but this is one of the example.
(maybe another framework that i installed,"GPUImage" might be the cause of this issue)
<img width="420" alt="test1" src="https://cloud.githubusercontent.com/assets/10205156/8642366/2dc89768-295e-11e5-94c2-b91674

[2015-07-14 03:29] kevincon commented on #197
I was able to throw the image you attached into the Template Framework Project and Tesseract recognized on it successfully, so I think you're right that maybe it was one of your other libraries that was causing the failure.

You can try creating a fresh new project without any additional libraries besides the 4.0.0 CocoaPod for Tesseract and see if you still have issues. If you do, feel free to re

[2015-07-14 03:29] #197 closed

[2015-07-15 14:43] icecoffin commented on #196
@ws233, sorry for the delay. I created a repository with sample code: https://github.com/icecoffin/TesseractTest-ObjC. The settings I use to configure the tesseract object are close to those I use in my real app (although the real app is on Swift, but the problem persists when using both Objective-C and Swift). Memory usage is the following:
6.8 MB on start
114 MB during recognition
58 MB after re

[2015-07-18 07:29] ghrom commented on #185
I get the same issue in my iMtG project and I think the proper solution would be to include bitcode in compiled binaries using this method http://stackoverflow.com/questions/30722606/what-does-enable-bitcode-do-in-xcode-7

[2015-07-18 08:48] iori57 opened #198 "Why is G8TesseractDelegate a NSObject?"
I wish to use progressImageRecognitionForTesseract callback but the requirement for the delegate to be a NSObject seems weird to me. Isn't it easier to remove this requirement?

I created a class that manages tesseract operations but the class itself is not UIViewController, so making it one just so that it can be used as a G8TesseractDelegate seems strange.

[2015-07-19 01:08] kevincon commented on #198
@ws233, you originally created the delegate (https://github.com/gali8/Tesseract-OCR-iOS/commit/6623f0af832897a180a108e6976f7566a680de0b); what do you think?

[2015-07-19 05:43] ws233 commented on #198
@iori57, can you show a code snippet, which illustrates your efforts?
So far I do not understand why conforming to NSObject makes difficulties for you.

[2015-07-19 06:40] ws233 commented on #196
@icecoffin, as I expected it seems there is nothing to fix in tesseract.
You use '[UIImage imageNamed:]' function, which caches the image being loaded. Proof from Apple doc:

You may ensure that there is no leaks in tesseract, if you tap 'Start' button in your test project a few times.
If there are leaks, you'll get increasing memory after every next recognition step, won't you? But I've tried you

[2015-07-19 08:29] ws233 commented on #185
So far I've failed to recompile dependant libraries with bitcode enabled. I try to check that the following compile flags (or some of their combination) from the link @ghrom has suggested could help us to fix an issue.

         -fembed-bitcode hi.c -S -emit-llvm

But there is a linker error with libz in xcode 7.0 beta. We should try xcode 7.0 beta 3. But I don't have enough time for that next few

[2015-07-19 14:28] icecoffin commented on #196
@ws233, I know that iOS does caching when using imageNamed:. I actually don't use this method in my project, the image comes from camera (I probably should've pointed it out). But in fact there is no difference when I use another method - both imageNamed: and initWithContentsOfFile: give the same memory usage.

I also tried to take images from camera using UIImagePickerController. I'm not sure if

[2015-07-19 15:19] iori57 commented on #198
Actually it is not a problem now that I've made my manager class (that handles all tesseract operations) a NSObject and it works wonderfully. Just a bit weird that my manager class is a NSObject while it isn't using any of NSObject functions nor behaviours.

Cheers!

[2015-07-19 16:56] ws233 commented on #198
@iori57, as I remember Apple suggests to inherit any class from one of the available root objects. Otherwise it becomes root object itself.
Anyway, if it's not an issue any more, would you mind colsing the issue?

[2015-07-19 17:18] ws233 commented on #196
@icecoffin, let's just calculate. I assume the 4S camera with resolution 3264 x 2448. It's about 3000x2500, which is equal to 7,5MP. Every pixel is in 32 bits per pixel, which gives 4 bytes per pixel. So the total weight of the camera image in the memory is 7,5MP x 4Bpp = 30 MB.
That's just we've got an image from the camera and upload it to the memory.

On the 2nd step the framework code checks,

[2015-07-19 17:20] ws233 commented on #196
PS:
Perhaps, we even may free the original image and do not retain it anymore as soon as recognize function has been called, that will save one more image copy for us in the memory. But I'm not sure, it's a good idea. Let's first eliminate the 2nd step from above.

[2015-07-21 09:15] codemustrun opened #199 "how can I access WordFontAttributes const in my swift project?"
Great job with the TesseractOCR, please keep it up.
I used Cocoapods to install TesseractOCR, now I want to access WordFontAttributes const from LTRResultIterator.h in my iOS swift project. I keep getting errors when trying to access TessBaseAPI. How is this suppose to be done? please help

[2015-07-21 10:24] Swiftology opened #200 "numbers not properly recognised"
Tesseract works fine (especially for word recognition) till I try to test it on a string of 14 or more digits. The result is inconsistent, getting only a few numbers right.
I used the code below:

                    var tesseract:G8Tesseract = G8Tesseract(language:"eng")
                    tesseract.engineMode = .TesseractCubeCombined
                    tesseract.pageSegmentationMode = .Auto

[2015-07-21 12:30] kevincon commented on #200
Unfortunately Tesseract alone is often not sufficient to consistently achieve high recognition accuracy. You can try some of the tips in our wiki: https://github.com/gali8/Tesseract-OCR-iOS/wiki/Tips-for-Improving-OCR-Results. In particular, try using GPUImage to preprocess the image before you give it to Tesseract.

[2015-07-21 13:10] ws233 commented on #200
@Swiftology, Tesseract doesn't support cube mode anymore.
pls, refer to https://github.com/gali8/Tesseract-OCR-iOS/issues/140
and https://github.com/tesseract-ocr/tesseract/issues/40 for details.
Try default mode instead.

[2015-07-21 14:23] iori57 commented on #198
Will close the issue now. Thanks!

[2015-07-21 14:23] #198 closed

[2015-07-21 14:30] iori57 opened #201 "How to reduce the size of TesseractOCR.framework?"
iOS noob here.. sorry if the question sounds silly.

The whole framework file is 17MB, after packaging with my app the whole app becomes more than 20MB which I think is a little bit huge.. how can we reduce the size of this file? Or is there a way to create a binary of Tesseract which is much smaller which can be used in our app?

I know it is possible because I've seen many apps that uses Tessera

[2015-07-21 14:56] ghrom commented on #201
App Store will take care of it when we get bitcode included in the framework. End user will only get 'slices' of the code appropriate for their device.

You can reduce the framework size by including only one code slice, this is how they get away with 4-7MB apps.

[2015-07-21 15:07] ghrom commented on #201
Related to #185

[2015-07-23 12:22] Swiftology commented on #200
@kevincon I tried using GPUImage preprocessing but the results seem to be no better.

[2015-07-23 12:23] Swiftology commented on #200
@ws233, I tried the default mode but the results are still the same, no improvements.

[2015-07-23 14:43] ws233 commented on #200
Your next step is training tesseract specifically to your font/fonts. Pls, refer to the documentation for more details.

[2015-07-24 13:12] iori57 commented on #201
How to perform slicing for the TesseractOCR.framework? Currently I'm just using command line to build the TesseractOCR.framework file following the topic https://github.com/gali8/Tesseract-OCR-iOS/issues/128 and I'm not sure how to slice it using this approach. Thanks!

[2015-07-24 13:58] ws233 commented on #201
I'm uploading the patch with botched support. Pls, refer to the linked ticket.
But I'm not sure it can help you. It seems that bitcode increases the binary 3 times more.

More specifically to your question, I think the total weight of the app depends on the number of the functions used in it. I mean, perhaps, those 3Mb apps used only recognition function. Instead you app uses much more functionali

[2015-07-24 14:04] ws233 commented on #185
I've rebuilt tesseract and all of its dependent libraries with botched support. Pls, refer to #202.
Since Xcode 7.0 is in beta yet, I think it's not necessary to merge this. I'm going to update libraries' binaries with the final Xcode and update this PR.
So far, pls, confirm that you don't have any warning related to bitcode and any other issues related with watchOS.
Thx!

[2015-07-25 01:26] iori57 commented on #201
My app size is now 34.6MB, which consists of..
- TesseractOCR 17MB
- English language pack 12.6MB
- Source code and other assets such as icons

I included English language pack for the convenience of users.

What I did is I drag the whole TesseractOCR.framework file (after building it with command line) to my Project and choose 'Copy if necessary', after that under 'Link Binary with Libraries' I c

[2015-07-26 08:55] iori57 commented on #201
I apologize. The huge app size was not due to TesseractOCR.framework. I tried changing the .ipa file to .zip, extract it out to check what is actually taking up the spaces, to my surprise the huge file size was actually due to my English Language pack bundle having duplicates in the same package (probably due to bad referencing). I'm closing the issue now, but feel free to add on.

Thanks!

[2015-07-26 08:55] #201 closed

[2015-07-26 19:25] ws233 commented on #176
@yoiang, are those files different?
As I think those files are auto generated by the configure utility and should contain some target specific macros used in all other library headers. Since the target is the same for Tesseract and Leptonica I believe those 2 headers should be similar. But can you confirm this for me?

[2015-07-26 19:26] ws233 commented on #163
Any news here?

[2015-07-26 19:29] ws233 commented on #182
@kevincon, it seems not related to tesseract. Let's close this.
@gbmgee, let us know if you still has some issues related to tesseract.

[2015-07-26 20:28] #182 closed

[2015-07-27 13:55] ws233 commented on #176
@yoiang,  I've tried xCode 7 with cocapods 0.38.2 version.
I couldn't reproduce your issue. Is it still reproduced in your case? Can you give more details?

[2015-07-27 20:38] hxzjpp opened #204 "library not found for -lTesseractOCRiOS"
I just start to use tesseract ocr, and I encounter such problem:
ld: library not found for -lTesseractOCRiOS
clang: error: linker command failed with exit code 1 (use -v to see invocation)

I did follow the install steps. And I have tried some ways such as add library path, but it still did not work.
And I wonder what is wrong.
Thanks!

d /Users/Jing/Library/Developer/Xcode/DerivedData/TakeoutAssi

[2015-07-28 09:30] ws233 commented on #196
Finally, I've succeed with eliminating step 2. I'm preparing a PR.

[2015-07-28 15:08] ws233 commented on #196
@icecoffin, pls, try #205 and let us know if this patch could decrease memory consumption during recognition in your case.

So the next possible step here is adding a 'shouldCacheInputImage' property. By default it's YES and do not change anything in current recognition procedure. But if it's NO, it forbids caching the input image in 'image' property. In such case if the user tries to get the inpu

[2015-07-29 01:04] #204 closed

[2015-08-02 12:05] iori57 opened #206 "Unable to set writing direction and text line order"
Inside G8Constants.h there were G8WritingDirection and G8TextLineOrder so I assume that we can change this setting in tesseract. However after I initialized tesseract and try to set writing direction, it gives the error:
"Cannot assign to writingDirection in tesseract"

Is it read only? Is there another way to set it?

Thanks!

[2015-08-02 14:00] ws233 commented on #206
@iori57, pls, refer to the [API docs] (http://cocoadocs.org/docsets/TesseractOCRiOS/4.0.0/Classes/G8Tesseract.html#//api/name/writingDirection).

[2015-08-02 15:36] mervindsouza opened #207 "Extract Rotated/Tilted Text from Scanned Image"
I am currently planning to develop an desktop OCR application using the tesseract OCR engine and fairly I have minimal idea about it.

The task I am facing is extraction of rotated text (any angle) from a scanned image. Kindly find the link : http://1drv.ms/1OS8elW which has the sample PDF document that I need to OCR. The sample contains a blue sticker on it and I need your guidance on extracting

[2015-08-07 03:34] xiaoxingan opened #208 "choose chi_sim.traineddata will crash"
I don't know if chi_sim.traineddata is too big(40+M) , can you deal this problem

[2015-08-07 12:54] Munderkind opened #209 "What about arabic tessdata?"
I tried tessdata from:
Google https://code.google.com/p/tesseract-ocr/downloads/detail?name=tesseract-ocr-3.02.ara.tar.gz&can=2&q=   3.02
I receive an error  "tessdata_manager.SeekToStart(TESSDATA_INTTEMP):Error:Assert failed:in file adaptmatch.cpp, line 511"

Git, main tesseract repo https://github.com/tesseract-ocr/tessdata
And I receive the same error.

Other languages work well!

[2015-08-07 14:11] iori57 commented on #206
Sorry if it is a stupid question.. so does it mean that it is read only and it will be automatically detected and does not need to be configured manually?

[2015-08-07 15:38] ws233 commented on #208
Which device do you use? It seems that 40+M is not a big deal for any Apple device.
What error messages do you get? Can you show a code snipet you try?

[2015-08-07 15:45] ws233 commented on #209
If it's a question of the language file consistency you would better publish it to the upstream tesseract repository. You may also create your own language file like it's written [here] (https://code.google.com/p/tesseract-ocr/wiki/TrainingTesseract3).

[2015-08-07 15:47] ws233 commented on #206
Yes, it how it's been developed.

[2015-08-08 03:05] iori57 commented on #208
I just tested chi_sim on both simulator and actual device without any issues. What's the error message that you get?

[2015-08-08 08:55] Munderkind commented on #209
In original project "Template Framework Project" arabic works fine, but in the new project does not work, strange...

[2015-08-08 23:36] kevincon commented on #196
Yeah that might be a good idea, but rather than trying to keep track of a `shouldCacheInputImage` property, I think it would just be easier for users if we reworked the API so that we have "purer" functions like `recognizeWithImage` and `analyzeLayoutWithImage`, etc. that don't store any state, and then we could completely remove the `setImage` function. What do you think?

[2015-08-09 00:10] kevincon commented on #207
This isn't really a question about this Tesseract iOS library, but I wanted to start by saying that the upstream Tesseract library has this to say about scanning rotated text (see https://github.com/tesseract-ocr/tesseract/wiki/ImproveQuality):

The grammar at the end there is bad, but I believe they are saying that it's on you as a developer to give Tesseract horizontal text that has been correct

[2015-08-09 00:10] #207 closed

[2015-08-09 00:10] #199 closed

[2015-08-09 00:11] #193 closed

[2015-08-09 00:11] #200 closed

[2015-08-09 00:11] #206 closed

[2015-08-09 08:35] ws233 commented on #209
Can you show me your code snippet and the project structure with the tessdata folder in it? (is it blue or yellow?). Could you also provide the whole output of Tesseract from the console?

[2015-08-09 08:42] ws233 commented on #196
@kevincon, I don't think your idea will succeed. Let me explain why with a code snippet.

          // read an image and do not allow the system to cache it
          // but anyway it's in the memory
          UIImage *image = [UIImage imageWithData:[NSData dataFromFile:somePathHere]];
          [tesseract recognizeWithImage:image]; // image is still retained here, cause it's sent to the function

[2015-08-09 08:52] ws233 commented on #178
@Fibinacci, any updates here? have you finally succeed? Can you share your experience and code snippets here?

[2015-08-10 09:18] Munderkind commented on #209
Error and tessdata folder: https://www.dropbox.com/s/egplhia77sgpfhw/Edited1.png?dl=0
Log 1: https://www.dropbox.com/s/u76ai73npi5gbem/Edited.png?dl=0
Log 2: https://www.dropbox.com/s/nc1pn7eadxvha53/Edited3.png?dl=0
Code snippet: https://www.dropbox.com/s/29kqq04puc5lz5u/snippet.png?dl=0

[2015-08-10 09:32] Munderkind commented on #209
Error and tessdata folder
![edited1](https://cloud.githubusercontent.com/assets/13694545/9166536/6e1a0dd4-3f5b-11e5-8628-7ffc7e9c6046.png)

Log 1
![edited](https://cloud.githubusercontent.com/assets/13694545/9166592/8d16f85a-3f5b-11e5-9bf0-56ab10f17422.png)

Log 2
![edited3](https://cloud.githubusercontent.com/assets/13694545/9166669/b55c696c-3f5b-11e5-9e33-746340f2f944.png)

Code snippet
![snippe

[2015-08-10 14:27] Munderkind commented on #209
I found a solution.
![ffffffffffuuuu](https://cloud.githubusercontent.com/assets/13694545/9173758/e87305da-3f84-11e5-817d-4e50c7ff4f81.png)

After changes everything works fine!

[2015-08-10 18:14] ws233 commented on #209
@Munderkind, so the reason of the crach is in G8OCREngineModeCubeOnly, isn't it?
Does arabic language normally work in Tesseract only mode? If so, pls, refer to #140. It seems that Cube is dead and no longer supported. So I'll change the ticket title to mention arabic language in it as well.

[2015-08-10 18:15] ws233 commented on #209
@Munderkind, could you also close the ticket if there are no more questions regarding the topic?

[2015-08-10 18:18] ws233 commented on #208
@xiaoxingan, can you ensure that you don't use Cube mode. It seems that Cube mode is no longer supported. Refer to #140 for more details.

[2015-08-10 18:23] ws233 commented on #140
@kevincon, it seems that a lot of people tries Cube mode and gets craches with it. What do you think about deprecating it, since it's no longer supported as it was mentioned in upstream repo? I'm thinking about removing the corresponding property and corresponding parameter from all initializers since they are definitely useless.

[2015-08-11 06:49] Munderkind commented on #209
@ws233 Arabic language normally work only in G8OCREngineModeCubeOnly.
In G8OCREngineModeTesseractOnly, G8OCREngineModeTesseractCubeCombined crash with errors.

[2015-08-11 06:49] #209 closed

[2015-08-11 07:11] ws233 commented on #140
Arabic works only in Cube mode. So it cannot be removed.

[2015-08-11 07:14] Munderkind commented on #140
Arabic language normally work only in G8OCREngineModeCubeOnly. Murphy's Law in practice, I tried G8OCREngineModeTesseractOnly and G8OCREngineModeTesseractCubeCombined and I getting errors.

[2015-08-11 13:55] rmtheis commented on #209
FYI, I see the same behavior running Tesseract on Android: https://github.com/rmtheis/tess-two/issues/12

[2015-08-12 07:44] xuekevin opened #211 "How to recognize several languages at the same time?"
Now If I want to get chinese,english and digit in the images, how can I achieve that ?
*G8RecognitionOperation *operation = [[G8RecognitionOperation alloc] initWithLanguage:@"eng"];*
thanks！

[2015-08-12 10:05] ws233 commented on #211
G8RecognitionOperation *operation = [[G8RecognitionOperation alloc] initWithLanguage:@"eng+chi"];
as it's mentioned in [these code snippets] (https://github.com/gali8/Tesseract-OCR-iOS/wiki/Using-Tesseract-OCR-iOS).

[2015-08-13 01:49] xuekevin commented on #211
thanks a lot !

[2015-08-13 01:49] #211 closed

[2015-08-15 21:44] kevincon commented on #140
@ws233 I agree that Cube is causing more trouble than its worth. But since I don't know when the upstream repo will produce another release that removes Cube, what if we just raise an exception/error if the user tries to call `recognize:` with `engineMode` set to something other than `G8OCREngineModeTesseractOnly` and with a `language` other than "eng"? My understanding is that Cube does work for

[2015-08-15 22:07] kevincon commented on #196
Ah I see what you mean now. Yeah I think your `shouldCacheInputImage` property is a good idea to solve that problem.

[2015-08-20 18:23] parvezq opened #212 "Tesseract low accuracy while using Camera"
For an iOS application using Tesseract SDK version 3.03, I have noticed that if I embed the image to be ocrred and pass its black & white version duly scaled to 640 px then Tesseract sdk gives quite a good accuracy for the extracted text.
On the other hand, if i try to capture the same image using camera and use the same code [as for embedded image then Tesseract do not work at all. I have also ch

[2015-08-21 08:08] ws233 commented on #212
There is similar [issue] (https://github.com/gali8/Tesseract-OCR-iOS/issues/47).
Pls, take a look deeper on that.
It seems that you do not do enough image preprocessing of your large image. It seems that there is a lot of noise, which is eliminated during scaling down phase. Just try to add any simple noise reduction filter. Adaptive Threshold Filter is the best choise.

Pls, close the ticket if t

[2015-08-21 12:34] parvezq commented on #212
Thanks for the reply!!!

I am being new to "Adaptive Threshold Filter" so can you please shed some light on how we can apply a filter to remove the noise in the image to have a good ocrred output. I have googled about applying filter to images in iOS to reduce noise and come across OpenCV, TEXTCLEANER but so far not able to figure out how to use.

Thanks

Parvez Qureshi

__________________________

[2015-08-21 18:19] kevincon commented on #212
@parvezq we provide sample code for using GPUImage's Adaptive Threshold Filter in the wiki: https://github.com/gali8/Tesseract-OCR-iOS/wiki/Tips-for-Improving-OCR-Results#using-gpuimages-adaptive-threshold-filter

[2015-08-23 17:44] Jan-M-B opened #213 "Undefined symbols for architecture armv7"
Hi,
I created the framework file to use Tesseract for iOS, but I get the following errors:

Undefined symbols for architecture armv7:
  "_OBJC_CLASS_$_G8RecognitionOperation", referenced from:
      objc-class-ref in ViewController.o
  "_OBJC_CLASS_$_G8Tesseract", referenced from:
      objc-class-ref in ViewController.o

and also the warning that files missing the armv7 architecture, any help?

J

[2015-08-23 19:32] kevincon commented on #213
Can you provide more details about how you created the framework?

Alternatively, if you just want to get up and running with Tesseract without worrying about creating the framework file yourself, you should just use CocoaPods to install the Tesseract library for a project: https://github.com/gali8/Tesseract-OCR-iOS/wiki/Installation#integrate-the-framework-into-an-existing-project-using-cocoapods

[2015-08-23 19:39] Jan-M-B commented on #213
I create it like you mentioned here: https://github.com/gali8/Tesseract-OCR-iOS/issues/128#issuecomment-69146700 and add it to my project like it's explained here: http://cocoadocs.org/docsets/TesseractOCRiOS/3.4.0/

[2015-08-23 19:49] kevincon commented on #213
Both of those instructions are outdated. Officially we no longer support projects that integrate the framework manually because CocoaPods is so much easier to use.

That being said, it sounds like you might be using an outdated version of the library files to try to build the framework. How did you get the library source files to build the framework?

[2015-08-23 20:25] Jan-M-B commented on #213
I'm not sure if I understand you right: I just use the Tesseract-OCR-iOS.xcworkspace project and the xctool command.

[2015-08-23 20:51] kevincon commented on #213
Yes but where did you get that project? Did you download it from one of the zip files on the GitHub Releases page (https://github.com/gali8/Tesseract-OCR-iOS/releases)? If so, which version did you download? Or did you clone it using `git clone git@github.com:gali8/Tesseract-OCR-iOS.git`?

[2015-08-23 20:57] Jan-M-B commented on #213
I used the "Download ZIP" button at the main page.

[2015-08-23 21:22] kevincon commented on #213
I see, using that button would download the contents of the master branch of this repo.

The problem is that using the xctool on the command line doesn't build for all of the architectures (for example, armv7). You can specify a specific architecture you want it to build for via the `-arch` flag (e.g. `-arch armv7`), but I don't know how to specify that it should build for multiple architectures.

[2015-08-24 06:58] ws233 commented on #213
@Jan-M-B, at least the instructions from #120 seem to be working.
So what you need is to change manually an architecture for any target you use.
For example, if you try to run your app under device you should use the following command:

    xctool -workspace Tesseract-OCR-iOS.xcworkspace -scheme TesseractOCR -configuration Release -sdk iphoneos CONFIGURATION_BUILD_DIR=./Products

If you try to run

[2015-08-25 05:43] kevincon opened #214 "Point tesseract-ocr and libtiff-ios submodules to most recent stable releases and update libs"

[2015-08-25 14:43] Jan-M-B commented on #213
Thanks @kevincon and @ws233 it works now :)

It's just the handling I like more ....

[2015-08-25 14:43] #213 closed

[2015-08-27 12:29] Jan-M-B opened #215 "G8RecognitionOperation, customize tessdata path"
Hi,

is there a way to customize the tessdata path with G8RecognitionOperation, so something like cachesRelatedDataPath for G8Tesseract?

Jan

[2015-08-27 13:54] johnmillz commented on #185
@ws233 This is causing me some other integration issues with a third party obfuscation tool. Is it a must to wait for Xcode 7 as it seems the c++ library doesn't need to be linked with iOS 7+ (which is what this project targets).

[2015-08-27 14:00] ws233 commented on #185
@johnmillz, doesn't it?
What is exactly your issue?
You are able to use the code from my [fork] (https://github.com/ws233/Tesseract-OCR-iOS/tree/Bitcode), if you are not ready to wait until official release.

[2015-08-27 14:03] ws233 commented on #215
@Jan-M-B, why don't you just create a simple NSOperation with the tesseract initialized as you wish?
I don't think we need G8RecognitionOperation to support. It doesn't add any specific features or usabilities.

[2015-08-27 14:03] ws233 commented on #212
@kevincon, let's close this.

[2015-08-27 14:04] ws233 commented on #177
@kevincon, let's close this, since there is no updates.

[2015-08-27 14:05] ws233 commented on #176
@kevincon, let's close this.

[2015-08-27 14:06] ws233 commented on #208
@kevincon, let's close this as well.

[2015-08-27 16:54] Jan-M-B commented on #215
Ok, can you give me an example? I am very new with NSOperation. I already tried this:
[code]

But I'm not sure if it's right and a good solution ..

[2015-08-28 15:20] #215 closed

[2015-08-28 18:19] Jan-M-B commented on #174
Hi,

I get the same error (Can't analyse layout. Make sure 'osd.traineddata' available in 'tessdata'.) when i try to set PageSegmentationMode to PageSegmentationModeAuto, any help?

[2015-09-02 19:05] ws233 commented on #214
I've been trying to update Tesseract and have faced an issue.
Neither of the tags from the upstream tesseract can be compiled. There is a broken commit `ec9581d8f2b3895e7307609043a3ec1bc9c603c5` right before the tag `3.04.00`, which doesn't allow to build Tesseract. And that commit has been reverted at `66a76a94772343582a70783a712f6248a81879ab`. So all the latest tags are between those commits and

[2015-09-02 19:31] kevincon commented on #214
I agree, I think 1 is the best option. Also I'm sorry I haven't reviewed your PRs yet; things are really busy at work but I'll try to take a look at them this weekend.

[2015-09-04 02:36] brave1024 commented on #208
G8RecognitionOperation *operation = [[G8RecognitionOperation alloc] initWithLanguage:@"eng+chi_sim+chi_tra"];
operation.tesseract.engineMode = G8OCREngineModeTesseractCubeCombined;

2015-09-04 10:13:15.299 CamClaim[15569:4962459] BSXPCMessage received error for message: Connection interrupted

Using default language params

Cube ERROR (CubeRecoContext::Load): unable to read cube language model par

[2015-09-04 02:37] brave1024 commented on #208
G8RecognitionOperation *operation = [[G8RecognitionOperation alloc] initWithLanguage:@"eng+chi_sim+chi_tra"];
operation.tesseract.engineMode = G8OCREngineModeTesseractCubeCombined;

2015-09-04 10:13:15.299 CamClaim[15569:4962459] BSXPCMessage received error for message: Connection interrupted

Using default language params

Cube ERROR (CubeRecoContext::Load): unable to read cube language model par

[2015-09-04 02:37] brave1024 commented on #208
G8RecognitionOperation *operation = [[G8RecognitionOperation alloc] initWithLanguage:@"eng+chi_sim+chi_tra"];
operation.tesseract.engineMode = G8OCREngineModeTesseractCubeCombined;

2015-09-04 10:13:15.299 CamClaim[15569:4962459] BSXPCMessage received error for message: Connection interrupted

Using default language params

Cube ERROR (CubeRecoContext::Load): unable to read cube language model par

[2015-09-04 02:37] brave1024 commented on #208
G8RecognitionOperation *operation = [[G8RecognitionOperation alloc] initWithLanguage:@"eng+chi_sim+chi_tra"];
operation.tesseract.engineMode = G8OCREngineModeTesseractCubeCombined;

2015-09-04 10:13:15.299 CamClaim[15569:4962459] BSXPCMessage received error for message: Connection interrupted

Using default language params

Cube ERROR (CubeRecoContext::Load): unable to read cube language model par

[2015-09-04 02:37] brave1024 commented on #208
G8RecognitionOperation *operation = [[G8RecognitionOperation alloc] initWithLanguage:@"eng+chi_sim+chi_tra"];
operation.tesseract.engineMode = G8OCREngineModeTesseractCubeCombined;

2015-09-04 10:13:15.299 CamClaim[15569:4962459] BSXPCMessage received error for message: Connection interrupted

Using default language params

Cube ERROR (CubeRecoContext::Load): unable to read cube language model par

[2015-09-04 02:38] brave1024 commented on #208
G8RecognitionOperation *operation = [[G8RecognitionOperation alloc] initWithLanguage:@"eng+chi_sim+chi_tra"];
operation.tesseract.engineMode = G8OCREngineModeTesseractCubeCombined;

2015-09-04 10:13:15.299 CamClaim[15569:4962459] BSXPCMessage received error for message: Connection interrupted

Using default language params

Cube ERROR (CubeRecoContext::Load): unable to read cube language model par

[2015-09-04 02:39] brave1024 commented on #208
G8RecognitionOperation *operation = [[G8RecognitionOperation alloc] initWithLanguage:@"eng+chi_sim+chi_tra"];
operation.tesseract.engineMode = G8OCREngineModeTesseractCubeCombined;

2015-09-04 10:13:15.299 CamClaim[15569:4962459] BSXPCMessage received error for message: Connection interrupted

Using default language params

Cube ERROR (CubeRecoContext::Load): unable to read cube language model par

[2015-09-04 02:43] brave1024 commented on #208
I know the G8OCREngineModeTesseractCubeCombined mode is the most accurate. If I only need recognize English, this mode is ok. But if I need recognize Chinese, this mode can not be used. Anybody helps?

[2015-09-06 23:39] JasonGreenAmerica opened #216 "Undefined symbols for architecture armv7: _OBJC_CLASS_$_G8Tesseract"
I'm getting this issue with Xcode 7 / iOS 9 SDK

ld: symbol(s) not found for architecture armv7

from CoccaPods
pod 'TesseractOCRiOS', ‘4.0.0’

Any Help?!
...Also .
 libz.dylib doesn't exist on my computer

[2015-09-07 03:32] #216 closed

[2015-09-08 02:54] #212 closed

[2015-09-08 02:55] #177 closed

[2015-09-08 03:58] kevincon commented on #174
@Jan-M-B which language are you trying to use? Can you post your code?

[2015-09-12 23:21] kevincon opened #217 "Nominate @ws233 to replace me as project maintainer"
I started a new job a few months ago and since then I haven't had much time to review pull requests and  respond to issues for this repo.

@ws233 has been doing really great work lately to bring the test coverage up to 100%, enable PDF output support, and prepare the project for XCode 7 and iOS 9, so I'd like to nominate him to replace me as the maintainer of this library.

@ws233, what do you thi

[2015-09-13 06:37] ws233 commented on #217
@kevincon, I've oppositely lost my job a month ago or so, that's why I've contributed so much. But I cannot promise I can be so active further. Just let's try.
I hope you won't forget about the repo and will come to contribute and participate as well as before.
Good luck at your new job!

[2015-09-13 07:18] ghrom commented on #217
@kevin Good luck and thank you for contributions! I think @ws233 is good choice.

@ws233 I'm sorry to hear that you lost your job. Would you mind contacting me via LinkedIn https://www.linkedin.com/profile/preview?vpa=pub&locale=en_US if you would be interested in helping with http://imtgapp.com <http://imtgapp.com/> project, please? It is iOS/REST/php project which contains [Tesseract-OCR-iOS] bu

[2015-09-13 10:43] ws233 commented on #217
@ghrom, let's try, but your LinkedIn profile link is broken.

[2015-09-13 10:53] ghrom commented on #217
@ws233, imagine how impressed would I be if you managed to contact me via LinkedIn anyway :) Try this one: https://www.linkedin.com/in/piotrfarbiszewski

[2015-09-13 17:24] kevincon commented on #217
I hope you won't forget about the repo and will come to contribute and participate as well as before.
Good luck at your new job!

Ah I'm really sorry to hear that you lost your job. I hope you find work again very soon.

@gali8, can you replace my collaborator status with @ws233 so he can take over from me?

[2015-09-13 19:08] gali8 commented on #217
@ws233 you are a collaborator! Enjoy :)

[2015-09-13 19:11] gali8 commented on #217
@ws233 give me your email, i will add you in cocoapods too.

[2015-09-13 20:02] ws233 commented on #217
Kvmakankov at gmail dot com
Thx!

[2015-09-14 08:05] ws233 commented on #217
@gali8, don't forget about Travis CI and Coveralls as well, pls.

[2015-09-14 08:49] gali8 commented on #217
@ws233 verify your email address (about CocoaPods) please.
I think that since you are in TravisCI and Coveralls.

[2015-09-14 12:09] ws233 commented on #217
Thanks to all!
I'm closing the issue and will reopen a new one, if I need some more access or the given one doesn't work.
Let's do productive work! :)

[2015-09-14 12:10] #217 closed

[2015-09-23 13:00] Japspre opened #218 "Cocoapods installation of 4.0.0 - Unable to satisfy the following requirements"
When trying to install the 4.0.0 version through cocoapods I get the following error in Terminal:
**[!] Unable to satisfy the following requirements:**

My pod file:

*pod 'Fabric'
pod 'Crashlytics'
pod 'OCMock', '~> 2.2'
pod 'AFNetworking', '~> 2.0'
pod 'MagicalRecord'
pod 'TesseractOCRiOS', '~> 4.0.0'*

When I install TesseractOCRiOS without specifying a version it installs v3.03.

However, star

[2015-10-01 13:50] AnnieNinaJoyceV opened #219 "iOS 9: g8_blackAndWhite returns complete black image"
Hi,

I have been porting my app to work on iOS 9 and found a strange bug.
Under iOS 8, calling 'g8_blackAndWhite' method always returned the proper black and white image. I tested the same on iOS 9 with the same image, it returned, blacked out image. Could you please advice a solution?

Device: iPhone 6+
iOS version: 9.0.1
Framework version: 4.0.0

This maybe helpful: on this line
   'CGImageRef c

[2015-10-04 07:49] ws233 commented on #219
@AnnieNinaJoyceV, hi!
`g8_blackAndWhite` is absolete and is no longer supported.
Why don't you use standard tesseract integrated binarizator?
If it doesn't fit your expectations you ahould consider the [following paper] (https://github.com/gali8/Tesseract-OCR-iOS/wiki/Tips-for-Improving-OCR-Results).

[2015-10-05 13:42] AnnieNinaJoyceV commented on #219
Oh! Thank you for the clarification @ws233
I'll give it a try :+1:

[2015-10-10 13:31] drshock opened #220 "Building depedencies script issue on Xcode 7.0.1 with 4.0.0"
I have never used Tesseract-OCR-iOS before.

To evaluate Tesseract out I just unzipped release 4.0.0 and installed Xcode 7.0.1 with command line tools.    Since I do not use CocoaPods I followed the README_how_to_compile_libraries and separately brought down leptonica 1.71 and tesseract 3.03 packages and unzipped them into the same 4.0.0 folder as instructed.

When at step 3 of the readme, and the

[2015-10-10 13:33] ws233 commented on #220
pls, check the paths. it seems that you put sources in different folders, than `build_dependencies.sh` script expects.

[2015-10-10 14:21] drshock commented on #220
The paths were correct, but the issue was in the script itself, as the path has spaces in it.  So, for example, the line:
cd $LEPTON_LIB
should be written with quotes to deal with embedded spaces:
cd "$LEPTON_LIB"
I'll have to go thru it and adapt but its building Leptonica now.

[2015-10-10 19:37] drshock commented on #220
Sadly, ending up having to abandon this. The spaces in the path issue is a limitation with autoconf and wasn't worth trying to work around.   I moved this over to a file path without spaces.

While Leptonica built fine once removing the spaces in the path issue, Tesseract itself, with this 4.0.0 zip anyway, has a number of fatal errors under Xcode 7.0.1 and OSX 10.11.  The following repeats for ea

[2015-10-10 19:40] ws233 commented on #220
Why do you need to build libs? There are lib binaries inside the repo.

[2015-10-10 19:46] drshock commented on #220
Since I started working with Watch I build everything manually now to insure bitcode / slicing support is going to work if I end up needing to use it.

[2015-10-10 19:54] ws233 commented on #220
There is a [task about bitcode] (https://github.com/gali8/Tesseract-OCR-iOS/issues/185).
I'm merging it right now. So pls wait a bit and try it.

[2015-10-11 08:15] ws233 commented on #220
So the binaries are updated and merged in the task metnioned above.
Pls, refer it and get a feedback that it what you expect.
I'm closing this issue as a dublicate.

[2015-10-11 08:15] #220 closed

[2015-10-11 08:17] ws233 commented on #185
Rebased and merged in #222.

[2015-10-11 08:22] ws233 commented on #185
Closing.
Feel free to reopen the task if you have any further issues related to bitcode.

[2015-10-11 08:22] #185 closed

[2015-10-11 08:23] ws233 commented on #208
@brave1024, is it still an issue for you?

[2015-10-11 08:24] ws233 commented on #218
@Japspre, what do you expect and try to achive?

[2015-10-12 14:02] Aaaaaaaron commented on #208
@brave1024 u dont have enough resource for engine "Cube". Modify the engine to tesseract only will fix the problem..  .traineddata file just for tesseract engine

[2015-10-12 17:59] drshock opened #223 "Question: Is the readme up to date on the library versions?"
I see the latest Leptonica 1.72 is included, but the latest Tesseract is 3.04 where the readme indicates 3.03-rc1 is what is in the master branch.   Is this correct?   I have the 3.04 for Android and wanted to be sure I am working with the same level I would be incorprating for iOS to compare results and such.

https://github.com/tesseract-ocr/tesseract/releases

[2015-10-12 18:18] ws233 commented on #223
Yes, it is.
Pls, refer to #214.

[2015-10-13 10:02] ws233 commented on #219
I've marked the functions as deprecated.

[2015-10-13 10:02] #219 closed

[2015-10-13 23:21] drshock opened #225 "g8_blackAndWhite marked as deprecated, but still shown in the example code"
I noticed this was deprecated today.  Since I just got started working with the framework a couple of days ago, it seems then that the Template Framework Project G8ViewController.m should be amended for showing how to use the framework alternatively no?

// Preprocess the image so Tesseract's recognition will be more accurate
    UIImage *bwImage = [image g8_blackAndWhite];

[2015-10-14 10:11] ws233 commented on #225
An example of binarization is [here] (https://github.com/gali8/Tesseract-OCR-iOS/wiki/Tips-for-Improving-OCR-Results).
But you are right. The Template Framework Project should be changed to avoid using those depricated functions. I'll do it soon.

[2015-10-15 05:05] JafferSheriff opened #226 "Not Working"
Why Tesseract-OCR-iOS is not all recognizing ocr. I tried with image taken from camera in iphone 5s 9.0.2 but not even a single character is correctly recognized. CamScanner Ios app does this job pretty much amazingly and why don't you just try to process the image to remove unwanted information using core graphics and apply that to recognizer. Is there any way ocr possible in ios with camera ?

[2015-10-15 06:44] ws233 commented on #226
@JafferSheriff, pls, refer to [Tips for Improving OCR Results] (https://github.com/gali8/Tesseract-OCR-iOS/wiki/Tips-for-Improving-OCR-Results)
Let me know if that could help you.

[2015-10-15 12:21] JafferSheriff commented on #226
Guys I tried with GPUImage's Adaptive Threshold Filter and bypassed Tesseract's Internal Thresholder but still not getting acceptable output with tessaract . I took a pic of text "Stack Overflow" from their website and applied GPUImage's Adaptive Threshold Filter with tessaract Internal Thresholder disabled and I got recognized text as "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\

[2015-10-16 11:33] Japspre commented on #218
I wonder which other pod is blocking the installation of v4.0.0

And if I could use another version which will still work on iOS 8 & 9.

[2015-10-16 11:39] Japspre commented on #218
If I don't specify any version, v3.03 is installing

[2015-10-18 22:40] chyt opened #227 "High memory when processing multiple images"
I'm using Tesseract to do text recognition from screenshots, but I'm running into an issue with huge memory usage. For example, recognition on just 6 images puts memory usage at over 200MB. Also, the memory is not getting deallocated after the recognition is complete.

My process is that the user imports screenshots, then I crop each screenshot into 6 smaller images. Then I run each of those image

[2015-10-19 01:38] chyt commented on #227
I've been trying to do more debugging on my own but I'm really not getting any information. I tried to look at a call tree to see where all the memory was being allocated but all I get are a bunch of memory addresses, which I don't know how to interpret.

![memory](http://imgur.com/IX7rhAP)

[2015-10-19 02:14] dxclancy commented on #227
Hi.  I'm not really familiar with operationQueues, but the first thing that comes to mind when I look at your code is what happens at the end of the operation?  How is the operation being released?  Because it is holding your images, and that would be a good candidate for increased memory.  How are the operations being release?

[2015-10-19 05:00] chyt commented on #227
Thanks for the help, the issue was indeed with NSOperationQueue and I was able to resolve it. Marking this as closed.

[2015-10-19 05:00] #227 closed

[2015-10-19 10:48] jfrsheriff commented on #226
@ws233  What might be the problem  ?

[2015-10-19 12:21] tedde opened #228 "characterChoices returns empty elements"
I am reading the mrz of id cards/passports - most of the time the OCR is perfect but sometimes I would like to iterate over the choices in order to fix errors. However for some images there are choices missing, as far as I've seen always one full row. Why? Am I doing it wrong? Or is it a bug?

in the example below the first row of the image does not return any choices at all

![1](https://cloud.gi

[2015-10-19 13:36] ws233 commented on #226
From [here] (https://github.com/gali8/Tesseract-OCR-iOS/wiki/Tips-for-Improving-OCR-Results):
Tesseract performs OCR best when it is given a preprocessed image that is **ideally crystal clear black text on a pure white background**.
Your image from the screenshot above doesn't seem **ideally crystal clear black text on a pure white background**. Use some image processing techniques.

[2015-10-20 05:46] JafferSheriff commented on #226
Thank you @ws233 for your valuable suggestion.

[2015-10-20 15:53] tedde commented on #228
@BamX Seems like you wrote the characterChoices function, can you shed any light on this?

[2015-10-23 06:11] #226 closed

[2015-10-23 08:46] Japspre commented on #218
After updating cocoapods to v0.39.0 I get a more descriptive message:

Specs satisfying the `TesseractOCRiOS (= 4.0.0)` dependency were found, but they required a higher minimum deployment target.

In the example project iOS7 is the deployment target. I have set iOS8 as deployment target but I still get the same message.

What is the minimum deployment target for this pod?

[2015-10-23 11:34] Japspre commented on #218
I had to increase the platform specified in the podfile to 8.0 to fix the problem.

[2015-10-23 11:34] #218 closed

[2015-10-24 09:17] hiragram opened #229 "Xcode 7 shows linker error"
using

OSX 10.10.5
Xcode 7.0
TesseractOCRiOS commit: 90638afbe43d082433f2e76b384c7901d23956df

and shows build error below:

[code]

any solutions?

[2015-10-24 09:20] ws233 commented on #229
It seems that you don't link you app with libz.

[2015-10-24 09:30] hiragram commented on #229
@ws233
Thanks for quick reply.

Maybe libz.dylib is outdated and doesn't appear in "Link Binary With Libraries"..
I can see

- libz.1.1.3.tbd
- libz.1.2.5.tbd
- libz.1.tbd
- libz.tbd

What should I do?

[2015-10-24 09:30] hiragram commented on #229
↑ every tbd didn't solve the issue..

[2015-10-24 12:51] ws233 commented on #229
try to add -lz to other linker flags.

[2015-10-26 09:52] Japspre commented on #176
I have the same issue on cocoapods v0.39 with TesseractOCRiOS v4.0.0

![screen_shot_2015-10-26_at_10_51_14](https://cloud.githubusercontent.com/assets/6073131/10725878/9c5900d2-7bcf-11e5-8414-4860e867f03c.jpg)

[2015-10-29 10:34] ws233 commented on #229
@hiragram, could you solve your issue?

[2015-10-29 10:44] ws233 commented on #223
I'm closing the issue.
@drshock, pls, feel free to reopen it if you think there is something else to discuss or fix here.

[2015-10-29 10:44] #223 closed

[2015-10-29 11:31] ws233 commented on #225
I've removed all g8_blackAndWhite function calls from the example.
@drshock, thanks for you participation!

[2015-10-29 11:31] #225 closed

[2015-10-29 11:32] ws233 commented on #176
I cannot see this in the most recent commit.
Pls, use a developer version to fix this issue.

[2015-10-29 11:32] #176 closed

[2015-10-29 11:58] hiragram commented on #229
@ws233 Sorry for late reply.
I could not solve this issue with ```-lz```
I had faced this issue with latest commit version on github.
Then I changed version to latest release on Cocoapods and this error didn't appear.

I don't understand what happened on latest commit, but now I don't have any issues.

Thanks for your help.

[2015-10-29 11:58] #229 closed

[2015-10-29 12:15] ws233 commented on #229
That's strange.
The latest commit is linked well.
The Example project proves this.
Anyway.

[2015-11-02 20:09] AngeloGiurano opened #233 "ld: -weak_library and -bitcode_bundle (Xcode setting ENABLE_BITCODE=YES) cannot be used together"
ld: -weak_library and -bitcode_bundle (Xcode setting ENABLE_BITCODE=YES) cannot be used together clang: error: linker command failed with exit code 1 (use -v to see invocation)

This is still happening, tried to disable bitcode but I can't build anyways.

Using XCode 7.1

[2015-11-03 19:55] mweibel commented on #233
:+1: have the same issue

[2015-11-04 13:12] #233 closed

[2015-11-09 05:03] chyt opened #235 "iOS Simulator: ld: file not found: /System/Library/PrivateFrameworks/PrototypeTools.framework/PrototypeTools for architecture x86_64"
I installed Tesseract version 4.0.0 through CocoaPods. Everything works fine on the device, but I'm getting the following error when trying to rune my app in the iOS simulator:
[code]

Is the problem that Tesseract only works on armv architecture? I get the same thing if I'm running the iPhone simulator (architecture is i386). I really need to test my app on other iOS versions; is there some other

[2015-11-11 10:26] ws233 commented on #235
@chyt, the Tesseract works on simulator as well.
I'm not sure about release version from CocoaPods.
Can you try the current developer version?
Just change you Podfile to this:
`pod 'TesseractOCRiOS', :git => https://github.com/gali8/Tesseract-OCR-iOS.git`

[2015-11-13 09:51] ws233 commented on #194
@gali8, Coveralls no longer finishes it's tasks.
Could you take a look at the reasons an try to fix them?

[2015-11-14 00:22] chyt commented on #235
Hey @ws233,

I'm still getting the same error with that version.

[2015-11-14 08:12] ws233 commented on #235
What is '/System/Library/PrivateFrameworks/PrototypeTools.framework/PrototypeTools'?
It doesn't seem to be a part of TesseractOCR-iOS.
Just try to remove this lib from the project linking phase.

[2015-11-14 11:22] chyt commented on #235
The weird thing is that there is no PrototypeTools framework at that path, nor is it ever linked under Build Phases. But based on the error message it definitely looks like it has something to do with the Tesseract library, which is why I posted here.

[2015-11-14 12:32] ws233 commented on #235
Why do you think so?
`TesseractOCR-iOS` definetely doesn't use `PrototypeTools.framework`.
I've just tried the `Template Framework Project` with xCode 7.1.1 on iPhone4S and iPhone6s+ simulators.
No linking errors as expected.
The issue seems to be somewhere outside of our scope.

[2015-11-20 21:18] aleclaws commented on #163
I was experiencing this crash and have "fixed" it by checking if the `G8RecognizedBlock` is nil.

G8Tesseract.mm: 595
[code]

[2015-11-21 07:22] ws233 commented on #163
@aleclaws, why don't you make a pull request to the master with this fix?

[2015-11-21 07:25] ws233 commented on #235
I'm closing the issue, since it doesn't seem to be related to TesseractOCR-iOS.
@chyt, feel free to reopen it if you have more details related to the Project.

[2015-11-21 07:25] #235 closed

[2015-11-27 09:28] mars-rover opened #236 "The recognizedText is not string when I user Swift"
It's my code
    func recognizeImage(image: UIImage) {
        let tesseract:G8Tesseract = G8Tesseract(language:"eng")
        tesseract.delegate = self
        tesseract.charWhitelist = "01234567890"
        tesseract.image = image
        tesseract.recognize()
        print("recognized text:\(tesseract.recognizedText.utf8)")
    }
but the output is not character, it is numbers like:
recognized t

[2015-11-27 09:34] ws233 commented on #236
What do you expect?
Why do you think those aren't characters? They are. It's a string.
You've specified `charWhitelist` with only digets.
That means Tesseract will try to recognize only those specified characters and only them.
Pls, refer to the wiki.

[2015-11-27 09:37] mars-rover commented on #236
Thank you very much! It works, I am new to Tesseract-OCR-iOS, Thank you for your efforts!